<%= render partial: 'header' %>
<div id="content">
  <center>
    <h1>New Genre</h1>

    <% form_for(@genre) do |f| %>
        <%= error_messages_for(f.object) %>

        <p>
          Genre<br/>
          <%= f.text_field :name %>
        </p>

        <p>
          <%= f.submit "Create" %>
        </p>
    <% end %>

    <%= link_to 'Back',
                genres_path %>

  </center>
  <br/><br/>
</div>