<%# cache 'screener_search_form' do %>
<fieldset>
  <legend>Search Screeners</legend>
  <%= search_form_for @search,
                     url: add_screener_to_playlist_path(id: @screener_playlist.id),
                     remote: true,
                     id: "screener_search_form",
                     class: 'spinner-trigger' do |screeners| %>
      <!--Match ANY or ALL of the conditions:<br />-->
      <%#= screeners.select :any,
[["All",
false],
["Any",
true]] %>
      <br/>
      <%= image_tag 'spinner.gif',
                    id: 'spinner',
                    class: 'transparent' %>
      <table>
        <tr>
            <td valign="top">
              Video Title:<br/>
              <%= screeners.text_field :video_programme_title_cont %>
              <br/>
              Episode Title:<br/>
              <%= screeners.text_field :episode_title_cont %>
              <br/>
              Genre:<br/>
              <%= screeners.select :video_video_genres_video_parent_genre_id_eq,
                                   VideoParentGenre.all.collect { |p| [p.name, p.id] },
                                   {include_blank: true} %>
              <br/>
              Sub Genre:<br/>
              <%= screeners.select :video_video_genres_id_eq,
                                   VideoGenre.all.collect { |p| [p.name, p.id] },
                                   {include_blank: true} %>
            </td>
            <td valign="top">
              Distributor:<br/>
              <%= screeners.select :video_video_distributor_id_eq,
                                  Supplier.video_distributors.collect { |p| [p.company_name, p.id] },
                                  include_blank: true %>
              <br/>
              Laboratory:<br/>
              <%= screeners.select :video_laboratory_id_eq,
                                  Supplier.laboratories.collect { |p| [p.company_name, p.id] },
                                  include_blank: true %>
              <br/>
              Video type:<br/>
              <%= screeners.select :video_video_type_eq,
                                  Video::VIDEO_TYPES,
                                  {include_blank: true} %> <br/>
              Production Year:<br/>
              <%= screeners.text_field :video_production_year_eq,
                                      size: 6 %>

            </td>
            <td valign="top">
              Lang Track:<br/>
              <%= select :language,
                         :track,
                         @languages,
                         {include_blank: true} %>
              <br/>
              Lang Subtitles:<br/>
              <%= select :language,
                         :subtitle,
                         @languages,
                         {include_blank: true} %>
              <br/>
              Tape Location Number:<br/>
              <%= screeners.text_field :video_screeners_location_eq,
                                       size: 6 %>
              <br/>
              Video ID:<br/>
              <%= screeners.text_field :video_id_eq,
                                       size: 6 %>
            </td>
        </tr>
      </table>
            <!--
	<table>
		<tr>
			<td valign="top">
				Episode Title:<br/>
				<%= screeners.text_field :episode_title %><br/>
			</td>
			<td valign="top">
			</td>
			<td valign="top">
				Location:<br/>
				<%= screeners.text_field :location %><br/>
			</td>
		</tr>
	</table>
	-->
        <%= screeners.submit "Search" %>
  <% end %>

</fieldset>
<%# end %>
