<% if @screeners_count > 0 %>
    <%= form_tag url_for(controller: "screener_playlists",
                         action: "add_multiple_screeners"),
                 id: "multiple_videos",
                 remote: true do %>
        <%= hidden_field_tag 'playlist_id',
                             params[:id] %>
        <%= submit_tag 'Add Selected to Playlist' %><br/>

        <%= @screeners_count %> screeners found
        <table cellspacing="0" width="100%" id="screeners">
          <tr>
            <th width="8">
              <%= check_box_tag('check_all',
                                'check_all',
                                false) %>
            </th>
            <th>
              <%= sort_link @search,
                            :id,
                            'ID',
                            {},
                            { remote: true } %>
            </th>
            <th>
              <%= sort_link @search,
                            :episode_title,
                            'Episode Title',
                            {},
                            { remote: true } %>
            </th>
            <th><%#= remote_order_by_link :video_type,
search_obj: @search,
params_scope: :screener_playlists  %></th>
            <th>In Playlists With<br/>Same Airline</th>
            <th>&nbsp;</th>
          </tr>
          <% @screeners.each do |screener| %>
              <tr class="playlist-entry">
                <%# cache([video]) do %>
                <td><%= check_box_tag "screener_ids[]",
                                      screener.id %></td>
                <td><%= screener.id %></td>
                <td><%= screener.episode_title %></td>
                <td><%#=h screener.video_type %></td>
                <td>
                    <span id="exists">
                        <% if (screener.in_playlists!="" && !screener.in_playlists.nil?) %>
                            <%= ScreenerPlaylist.with_same_airline_and_screener(screener.id,
                                                                                (@screener_playlist.airline_id unless @screener_playlist.airline.nil?)).collect { |playlist| link_to("#{playlist.airline.code unless playlist.airline.nil?}#{playlist.start_cycle.strftime("%m%y") unless playlist.start_cycle.nil?}",
                                                                                                                                                                                     edit_screener_playlist_path(playlist),
                                                                                                                                                                                     target: "_blank") }.join(',').html_safe %>
                        <% end %>
                    </span>
                </td>
                <%# end %>
                <td>
                  <%= link_to "add to playlist",
                              add_screener_screener_playlist_path(@screener_playlist, screener_id: screener.id),
                              method: :post,
                              remote: true,
                              loading: "Element.show('spinner')",
                              complete: "Element.hide('spinner')" %>
                </td>
              </tr>
          <% end %>
        </table>
    <% end %>
    <br/>
    <br/>
    <%= will_paginate @screeners %>
<% else %>
    No screeners were found
<% end %>

<script>

    var $ = jQuery;

    $(document).ready(function () {

        $('#check_all').click(function () {
            if (this.checked) {
                $('.playlist-entry').find(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $('.playlist-entry').find(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });

    });

</script>