<% content_for(:head) do %>
    <meta name="pdfkit-orientation" content="Landscape"/>
    <script>
        jQuery(document).ready(function () {
            jQuery('#print_playlist').click(function (event) {
                if (!confirm("ALERT! Please change your page layout to LANDSCAPE when printing")) {
                    event.preventDefault();
                }
            });
        });
    </script>
<% end %>

<%= render partial: 'layouts/screener_playlist_header' %>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Print Playlist",
                {controller: "screener_playlists",
                 action: "show",
                 id: @screener_playlist},
                id: 'print_playlist',
                target: '_blank' %>
    |
    <%= link_to "Download Full PDF",
                {controller: "screener_playlists",
                 action: "print",
                 id: @screener_playlist,
                 format: "pdf"} %>
    |
    <%#= link_to "Download Summary PDF",
{controller: "screener_playlists",
action: "edit",
 id: @screener_playlist,
format: "pdf"} %>
    <%= link_to "Export as Excel",
                controller: "screener_playlists",
                action: "export_to_excel",
                id: @screener_playlist %>
    |
    <%= link_to "Create a playlist",
                new_screener_playlist_path %>
  </div>
  <div id="content-header">Screener Playlists</div>
</div>

<div id="content">
  <center>
    <h2>Edit Screener Playlist</h2>

    <%= link_to "Add Screener", add_screener_to_playlist_path(id: @screener_playlist.id), id: "add_screener_to_playlist" %>
    <br/>
    <br/>

    <%= render 'form' %>

    <div id="playlist">
      <%= render partial: 'playlist',
                 object: @screener_playlist %>
    </div>

    <%= link_to 'Back',
                screener_playlists_path %>

  </center>

  <div id="add_screener_dialog" style="display:none;">
    <div id="add_screener">
    </div>
  </div>

</div>


<script type="text/javascript">
    var $ = jQuery;

    $(function () {
        $(document).on("click", "#add_screener_to_playlist", function (screener) {
            screener.preventDefault();
            $('#add_screener_dialog').dialog({
                title: 'Add Screener',
                modal: true,
                width: 740,
                height: 540,
                position: ['center', 100],
                close: function (screener, ui) {
                    $('#add_screener_dialog').dialog('destroy')
                }
            });
            $.ajax({ url: '/add_screener_to_playlist/<%= @screener_playlist.id %>',
                type: 'get',
                dataType: 'script'
            });
        });
    });
</script>
