<tr>
<td class="list-item"><%= link_to track.title_original, track_path(:id => track.id) %><br/><%= track.title_english %></td>
<td class="list-item"><%= track.artist_original %><br/><%= track.artist_english %></td>
<td class="list-item"><%= track.album.label.name if !track.album.label_id.nil? %>&nbsp;</td>
<td class="list-item"><%= track.album.cd_code %></td>
<td class="list-item"><%= duration(track.duration) %></td>
<td class="list-item"><%= link_to 'Edit', edit_track_path(track) %></td>
<td class="list-item"><%= link_to 'Delete', track, :confirm => 'Are you sure?', :method => :delete %></td>

</tr>