<%= render partial: 'layouts/audioplaylist_header' %>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">

  </div>
  <div id="content-header">Find Songs</div>
</div>
<div id="content">
  <center>
    <% form_remote_tag url: {action: 'find_tracks'} do %>

        Search for <%= text_field_tag 'title' %>
        <br/><br/>
        Duration between <%= text_field_tag 'min_dur_min', '', size: 3 %>
        :<%= text_field_tag 'min_dur_sec', '', size: 3 %> and <%= text_field_tag 'max_dur_min', '', size: 3 %>
        :<%= text_field_tag 'max_dur_sec', '', size: 3 %>
        <br/><br/>
        <%= submit_tag "Search for track" %>

    <% end %>
    <br/><br/>
    <table id="search_results" width="100%" cellpadding="10" cellspacing="0" border="0"></table>
  </center>
  <br/><br/>
</div>
