<table class="edit">
  <tr>
    <td class="pl-title">Airline :</td>
    <td><%= select("video_master_playlist",
                   "airline_id",
                   Airline.find(:all,
                                order: "name asc").collect { |p| [p.name + " - " + p.code,
                                                                  p.id] },
                   {include_blank: true}) %> <%= link_to "+",
                                                         airlines_path,
                                                         id: "add",
                                                         popup: true %></td>
    <td class="pl-title">Start Cycle :</td>
    <td><%= form.date_select :start_cycle,
                             discard_day: true,
                             order: [:month,
                                     :year],
                             use_month_numbers: true,
                             start_year: Date.today.year + 2,
                             end_year: 1900 %>
      <strong>End
        Cycle:</strong> <%= form.date_select :end_cycle,
                                             discard_day: true,
                                             order: [:month,
                                                     :year],
                                             use_month_numbers: true,
                                             start_year: Date.today.year + 2,
                                             end_year: 1900 %>
    </td>
    <td class="pl-title">Programmer :</td>
    <td><%= @video_master_playlist.user.login if !@video_master_playlist.user_id.nil? %></td>
  </tr>
  <tr>
    <td class="pl-title">Master Playlist Type :</td>
    <td><%= select("video_master_playlist",
                   "master_playlist_type_id",
                   MasterPlaylistType.find(:all,
                                           order: "name asc").collect { |p| [p.name,
                                                                             p.id] },
                   {include_blank: true}) %> <%= link_to "+",
                                                         master_playlist_types_path,
                                                         id: "add",
                                                         popup: true %></td>
    <td class="pl-title">Edit Runtime :</td>
    <td><%= form.text_field :edit_runtime %></td>
    <td class="pl-title">Total Runtime (hh:mm:ss):</td>
    <td><%= @video_master_playlist.total_runtime %></td>
  </tr>
  <tr>
    <td class="pl-title">Media Instruction</td>
    <td colspan="5"><%= form.text_area :media_instruction,
                                       size: "80x3" %></td>
  </tr>
</table>
