<%= render partial: 'layouts/videomasterplaylist_header' %>
<center><p style="color: green" id="notice"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Create a playlist",
                new_video_master_playlist_path %>
  </div>
  <div id="content-header">Video Master Playlists</div>
</div>
<div id="content">
  <%= render partial: 'search_form',
             object: @search %>
  <div id="video_master_playlists">
    <%= render partial: "video_master_playlists" %>
  </div>
</div>