<%= render partial: 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="well" id="dashboard-well">
          <% if permitted_to? :read,
                              :audio_playlists %>
            <%= link_to 'Audio Playlist Maker',
                        audio_playlists_path,
                        class: 'btn btn-large btn-block btn-inverse' %>
          <% end %>
          <% if permitted_to? :edit,
                              :movie_playlists %>
            <%= link_to 'Movie / Video Playlist Maker',
                        movies_path,
                        class: 'btn btn-large btn-block btn-inverse' %>
          <% end %>
          <% if permitted_to? :edit,
                              :users %>
            <%= link_to 'Users',
                        users_path,
                        class: 'btn btn-large btn-block btn-inverse' %>
          <% end %>
          <% if permitted_to? :edit,
                              :airlines %>
            <%= link_to 'Audio Playlist Settings',
                        { controller: 'settings' },
                        class: 'btn btn-large btn-block btn-inverse' %>
            <%= link_to 'Movie Playlist Settings',
                        { controller: 'movies_settings' },
                        class: 'btn btn-large btn-block btn-inverse' %>
          <% end %>
      </div>
    </div>
  </div>
</div> <!-- /container -->
