<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
<div id="header">
  <div class="title">
    Dashboard
  </div>
  <div id="nav">
    <ul>
      <li id="curr-nav">
        <%= link_to "Dashboard",
                    controller: 'dashboard' %>
      </li>
    </ul>
    <div id="clear">
      <br>
    </div>
  </div>
</div>
<center>
  <p style="color: green">
    <%= flash[:notice] %>
  </p>
</center>
<div id="content">
  <center>
    <br>
    <strong>Please select from the following options:</strong><br>
    <br>
    <table border="0" cellpadding="10">
      <tr>
        <% if permitted_to? :read,
                            :audio_playlists %>
            </tr>
            <tr>
              <td class="dashboard">
                <%= link_to "Audio Playlist Maker",
                            audio_playlists_path %>
              </td>
              <td>
                Songs and Albums Playlists
              </td>
            </tr>
        <% end %>
        <% if permitted_to? :edit,
                            :movie_playlists %>
            <tr>
              <td class="dashboard">
                <%= link_to "Movie / Video Playlist Maker",
                            movies_path %>
              </td>
              <td>
                Create movies playlists. Add movies to database.
              </td>
            </tr>
            <!--
<tr><td class="dashboard"><%= link_to "Bookings" %></td><td>Create bookings</td></tr>
<tr><td class="dashboard"><%= link_to "Invoicing" %></td><td>Create invoices.</td></tr>
<tr><td class="dashboard"><%= link_to "Address book" %></td><td>Add clients to address book.</td></tr>
<tr><td class="dashboard"><%= link_to "Label maker" %></td><td>Create labels for tapes,
envelopes.</td></tr>
-->
        <% end %>
        <% if permitted_to? :edit,
                            :users %>
            <tr>
              <td class="dashboard">
                <%= link_to "Users",
                            users_path %>
              </td>
              <td>
                Manage user accounts and permissions
              </td>
            </tr>
        <% end %>
        <% if permitted_to? :edit,
                            :airlines %>
            <tr>
              <td class="dashboard">
                <%= link_to "Audio Playlist Settings",
                            controller: "settings" %>
              </td>
              <td>
                Maintain airlines,
                genres,
                recording labels list
              </td>
            </tr>
            <tr>
              <td class="dashboard">
                <%= link_to "Movie Playlist Settings",
                            controller: "movies_settings" %>
              </td>
              <td>
                Maintain movie genres,
                suppliers,
                commercial runtime
              </td>
            </tr>
        <% end %>
        </table>
  </center>
  <br>
  <br>
</div>
</body>
</html>
