<%= render :partial => 'header' %>
<div id="content">
<center>
<h1>Edit Video Genre</h1>

<% form_for(@video_parent_genre) do |f| %>
  <%= error_messages_for(f.object) %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', video_parent_genres_path %>

</center>
<br/><br/>
</div>