<%= search_form_for @search,
                    loading: "Element.show('spinner')",
                    complete: "Element.hide('spinner')" do |tracks| %>

    <fieldset>
      <legend>Search Tracks</legend>
      Match ANY or ALL of the conditions:
      <%= tracks.combinator_select %>
      <%= image_tag 'spinner.gif',
                    id: 'spinner',
                    style: 'display:none;' %>

      <table>
        <tr>
          <td valign="top">
            Title Original:<br>
            <%= tracks.text_field :title_original_cont %>
            <br>
            Artist Original:<br>
            <%= tracks.text_field :artist_original_cont %>
            <br>
            Duration:<br>
            <%= text_field_tag 'dur_min_min',
                               '',
                               size: 3 %>
            :
            <%= text_field_tag 'dur_min_sec',
                               '',
                               size: 3 %>
            to
            <%= text_field_tag 'dur_max_min',
                               '',
                               size: 3 %>
            :
            <%= text_field_tag 'dur_max_sec',
                               '',
                               size: 3 %>
            <br>
          </td>

          <td valign="top">
            Title (Translated):<br>
            <%= tracks.text_field :title_english_cont %>
            <br>

            Artist (Translated):<br>
            <%= tracks.text_field :artist_english_cont %>
            <br/><br/>

            Pending Delete: <%= tracks.check_box :to_delete_eq %>
          </td>

          <td valign="top">
            Label:<br>
            <%= tracks.select :album_label_id_eq,
                              Label.all.collect { |p| [p.name,
                                                       p.id] },
                              {include_blank: true} %>
            <br>

            CD Code:<br>
            <%= tracks.text_field :album_cd_code_cont %>
            <br>
            <br/><br/>
            <%= tracks.submit "Search" %>
          </td>
        </tr>
      </table>
    </fieldset>

<% end %>
