<% if @movies_count > 0 %>
    <%= form_tag html: {action: url_for(controller: "movie_playlists",
                                              action: "add_multiple_movies"),
                              id: "multiple_movies"},
                              remote: true do %>
        <%= hidden_field_tag 'playlist_id',
                             params[:id] %>
        <%#= submit_to 'add_multiple_btn',
                      'Add Selected to Playlist',
                      url: {action: 'add_multiple_movies'},
                      remote: true %><br/>
        <%= @movies_count %> movies found
        <table cellspacing="0" width="100%">
          <tr>
            <th width="8"><%= check_box_tag('check_all',
                                            'check_all',
                                            false,
                                            onclick: "$$('#movie_ids_').each(function(box){box.checked=($('check_all').checked)?true:false});") %></th>
            <th>
              <%= sort_link(@search,
                            :id,
                            "ID") %>
            </th>
            <th>
              <%= sort_link(@search,
                            :movie_title,
                            "Movie Title") %>
            </th>
            <th>
              <%= sort_link(@search,
                            :movie_type,
                            "Movie Type") %>
            </th>
            <th>
              <%= sort_link(@search,
                            :airline_release_date,
                            "Airline Release Date") %>
            </th>
            <th>In Playlists With<br/>Same Airline</th>
            <th>&nbsp;</th>
          </tr>
          <% @movies.each do |movie| %>
              <tr>
                <% cache([movie]) do %>
                    <td><%= check_box_tag "movie_ids[]",
                                          movie.id %></td>
                    <td><%= link_to movie.id,
                                    movie_path(id: movie.id),
                                    target: "_blank" %></td>
                    <td><%= movie.movie_title %></td>
                    <td><%= movie.movie_type %></td>
                    <td><%= movie.airline_release_date.strftime("%m-%Y") if !movie.airline_release_date.nil? %></td>
                <% end %>
                <td>
									<span id="exists">
										<% if (movie.in_playlists!="" && !movie.in_playlists.nil?) %>
											<%= MoviePlaylist.with_same_airline_and_movie(movie.id,
                                                                                          (@movie_playlist.airline_id unless @movie_playlist.airline.nil?)).collect { |playlist| link_to("#{playlist.airline.code unless playlist.airline.nil?}#{playlist.start_cycle.strftime("%m%y") unless playlist.start_cycle.nil?}",
                                                                                                                                                                                         edit_movie_playlist_path(playlist),
                                                                                                                                                                                         target: "_blank") }.join(',
') %>
										<% end %>
									</span>
                </td>
                <td>
                  <%= link_to "add to playlist",
                              add_movie_movie_playlist_path(@movie_playlist, movie_id: movie.id),
                              method: :post,
                              remote: true,
                              loading: "Element.show('spinner')",
                              complete: "Element.hide('spinner')" %>
                </td>
              </tr>
          <% end %>
        </table>
    <% end %>
    <br/>
    <br/>
    <%= will_paginate @movies %>
<% else %>
    No movies were found
<% end %>