<% if @movie_playlists_count > 0 %>
    <%= @movie_playlists_count %> movie playlists found

    <table cellspacing="0" width="100%">

      <tr>
        <th>
          <%= sort_link(@search,
                        :id,
                        'ID') %>
        </th>
        <th>
          <%= sort_link(@search,
                        :airline_name,
                        'Airline') %>
        </th>
        <th>
          <%= sort_link(@search,
                        :start_cycle,
                        'Start Date') %>
        </th>
        <th>
          <%= sort_link(@search,
                        :end_cycle,
                        'End Date') %>
        </th>
        <th>
          <%= sort_link(@search,
                        :movie_type,
                        'Movie Type') %>
        </th>
        <th colspan="4"></th>
      </tr>

      <% @movie_playlists.each do |movie_playlist| %>
          <tr id="movie_playlist-<%= movie_playlist.id %>">
            <% cache([movie_playlist]) do %>
                <td>
                  <%= link_to movie_playlist.id,
                              movie_playlist_path(id: movie_playlist.id),
                              popup: true %>
                </td>
                <td>
                  <%= movie_playlist.airline.name if !movie_playlist.airline.nil? %>
                </td>
                <td>
                  <%= movie_playlist.start_cycle.strftime("%m-%Y") if !movie_playlist.start_cycle.nil? %>&nbsp;
                </td>
                <td>
                  <%= movie_playlist.end_cycle.strftime("%m-%Y") if !movie_playlist.end_cycle.nil? %>&nbsp;
                </td>
                <td>
                  <%= movie_playlist.movie_type %>&nbsp;
                </td>
            <% end %>
            <td>
              <%= link_to('Edit',
                          edit_movie_playlist_path(movie_playlist),
                          popup: true) if movie_playlist.locked!=true %>
            </td>
            <% if permitted_to? :delete,
                                :movie_playlists %>
                <td>
                  <%= link_to 'Delete',
                              remote: true,
                              url: movie_playlist_url(movie_playlist),
                              method: :delete,
                              confirm: 'Are you sure?',
                              loading: "Element.show('spinner')",
                              complete: "Element.hide('spinner')" if movie_playlist.locked!=true %>
                </td>
                <td>
                  <%= link_to 'Duplicate',
                              duplicate_movie_playlist_path(movie_playlist),
                              confirm: 'Are you sure?',
                              method: :post %>
                </td>
            <% end %>
            <td>
              <% if permitted_to? :lock,
                                  :movie_playlists %>
                  <% if movie_playlist.locked!=true %>
                      <%= link_to 'Lock',
                                  lock_movie_playlist_path(movie_playlist),
                                  method: :post %>
                  <% else %>
                      <%= link_to 'Unlock',
                                  unlock_movie_playlist_path(movie_playlist),
                                  method: :post %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
    <br/>
    <br/>
    <%= will_paginate @movie_playlists %>

<% else %>

    No playlists were found

<% end %>