<center>
  <div class="overlay">
    <%= link_to_hide_overlay 'X',
                             movie_playlists_path,
                             id: "cancel" %>
    <br/>
    <strong>Add Movie to Playlist</strong>

    <div id="search_form">
      <% remote_form_for :movie_playlists,
                         class: 'spinner-trigger' do |f| %>
          <%= hidden_field_tag 'id',
                               params[:id] %>
          <%= hidden_field_tag 'playlist_id',
                               params[:id] %>
          <%= render partial: 'movie_search_form',
                     locals: {f: f} %>
      <% end %>
    </div>
    <%= image_tag 'spinner.gif',
                  id: 'spinner',
                  class: 'transparent' %>
    <br/>

    <div id="item_added"></div>
    <div id="movies">
      <%= render partial: "movies" %>
    </div>
  </div>
</center>