<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Images in Motion
    - <%= @movie_playlist.airline.code if !@movie_playlist.airline_id.nil? %><%= @movie_playlist.start_cycle.strftime("%m%y") %>
    Movies Playlist</title>
  <%= stylesheet_link_tag 'print', media: 'print' %>
  <%= stylesheet_link_tag 'print', media: 'screen' %>
</head>
<body>
<div class="print">
  <center><img src="/images/iim-logo.jpg"/></center>
  <br/>

  <h2>
    <%= @movie_playlist.airline.code if !@movie_playlist.airline_id.nil? %><%= @movie_playlist.start_cycle.strftime("%m%y") %>
    Movie Playlist</h2>
  <br/>
  <strong><%= "MOVIE TYPE: #{@movie_playlist.movie_type.upcase}S " if !@movie_playlist.movie_type.nil? %></strong>
  <br/><br/>

  <div id="playlist">
    <%= render partial: 'playlist_item_view', collection: @movie_playlist.movie_playlist_items_sorted %>
  </div>
</div>
</body>
</html>