<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Images in Motion
    - <%= @movie_playlist.airline.code if !@movie_playlist.airline.nil? && !@movie_playlist.airline_id.nil? %><%= @movie_playlist.start_cycle.strftime("%m%y") %>
    Movies Playlist</title>
    <style type="text/css">
        body, .wrapper, .note, .info, code, #topNav, .L, .R, #frame, #container, #header, #navigation, #footer,
        #feature, #mainCol, #subCol, #extraCol, .content {
            position: static;
            text-align: left;
            text-indent: 0;
            background: White;
            color: Black;
            border-color: Black;
            width: auto;
            height: auto;
            display: block;
            float: none;
            min-height: 0;
            margin: 0;
            padding: 0;
        }

        body {
            background: #FFF;
            font-size: 10pt !important;
            font-family: "WenQuanYi Micro Hei", "DejaVu Sans", sans-serif;
            line-height: 1.5;
            color: #000;
            padding: 0 3%;
        }

        .hide, .nav {
            display: none !important;
        }

        a:link, a:visited {
            background: transparent;
            font-weight: bold;
            text-decoration: underline;
        }

        hr {
            background:#ccc;
            color:#ccc;
            width:100%;
            height:2px;
            margin:2em 0;
            padding:0;
            border:none;
        }

        h1,h2,h3,h4,h5,h6 { font-family: "WenQuanYi Micro Hei", "DejaVu Sans", sans-serif; }
        code { font:.9em "Courier New", Monaco, Courier, monospace; }

        img { float:none; margin:1.5em 1.5em 1.5em 0; }
        a img { border:none; }

        blockquote {
            margin:1.5em;
            padding:1em;
            font-style:italic;
            font-size:.9em;
        }

        .small  { font-size: .9em; }
        .large  { font-size: 1.1em; }

        #header {
            display:none;
        }

        #playlist {
            border:none;
            background-color:transparent;
        }

        table {
            page-break-inside:avoid !important;
            font-size:14px !important;
        }

    </style>
</head>
<body>
<div class="print">
  <center><img src="/images/iim-logo.jpg"/></center>
  <br/>

  <h2>
    <%= @movie_playlist.airline.code if !@movie_playlist.airline.nil? && !@movie_playlist.airline_id.nil? %><%= @movie_playlist.start_cycle.strftime("%m%y") %>
    Movie Playlist</h2>
  <br/>
  <strong><%= "MOVIE TYPE: #{@movie_playlist.movie_type.upcase} " if !@movie_playlist.movie_type.nil? %></strong>
  <br/><br/>
  
  <div id="playlist">
    <%= render partial: 'playlist_item_view',
               collection: @movie_playlist.movie_playlist_items_sorted,
               locals: {language: params[:language] } %>
  </div>
</div>
</body>
</html>