  <tr id="master_language-row-<%=h master_language.id %>">
    <td class="list-item"><%=h master_language.id %></td>
    <td class="list-item"><%=h master_language.name %></td>
    <td class="list-item"><%= link_to 'Edit', edit_master_language_path(master_language) %></td>
    <td class="list-item"><%= link_to 'Delete', master_language, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>