<% if @album_playlists_count > 0 %>
    <%= @album_playlists_count %> album playlists found

    <table cellspacing="0" width="100%">
      <tr>
        <th>
          <%= sort_link(@search,
                        :id,
                        "ID") %>
        </th>
        <th>
          <%= sort_link(@search,
                        :client_playlist_code,
                        "Client Playlist Code") %>
        </th>
        <th>
          <%= sort_link(@search,
                        :airline_name,
                        "Airline Name") %>
        </th>
        <th>
          <%= sort_link(@search,
                        :in_out,
                        "In/Out") %>
        </th>
        <th>
          <%= sort_link(@search,
                        :start_playdate,
                        "Start Date") %>
        </th>
        <th>
          <%= sort_link(@search,
                        :end_playdate,
                        "End Date") %>
        </th>
        <th colspan="4"></th>
      </tr>
      <% @album_playlists.each do |album_playlist| %>
          <tr id="album_playlist-<%= album_playlist.id %>">
            <% cache([album_playlist]) do %>
                <td>
                  <%= link_to album_playlist.id,
                              album_playlist_path(id: album_playlist.id) %>
                </td>
                <td>
                  <%= album_playlist.client_playlist_code %>
                </td>
                <td>
                  <%= album_playlist.airline.name if !album_playlist.airline_id.nil? %>
                </td>
                <td>
                  <%= album_playlist.in_out %>&nbsp;
                </td>
                <td>
                  <%= album_playlist.start_playdate.strftime("%B %Y") if !album_playlist.start_playdate.nil? %>&nbsp;
                </td>
                <td>
                  <%= album_playlist.end_playdate.strftime("%B %Y") if !album_playlist.end_playdate.nil? %>&nbsp;
                </td>
            <% end %>
            <% if permitted_to? :edit,
                                :album_playlists %>
                <td>
                  <%= link_to 'Edit',
                              edit_album_playlist_path(album_playlist) if album_playlist.locked!=true %>
                </td>
                <td>
                  <%= link_to 'Delete',
                              album_playlist_url(album_playlist),
                              remote: true,
                              method: :delete,
                              confirm: 'Are you sure?',
                              class: 'spinner-trigger' if album_playlist.locked!=true %>
                </td>
                <td>
                  <%= link_to 'Duplicate',
                              duplicate_album_playlist_path(album_playlist),
                              confirm: 'Are you sure?',
                              method: :post %>
                </td>
            <% end %>
            <td>
              <% if permitted_to? :lock,
                                  :album_playlists %>
                  <% if album_playlist.locked!=true %>
                      <%= link_to 'Lock',
                                  lock_album_playlist_path(album_playlist),
                                  method: :post %>
                  <% else %>
                      <%= link_to 'Unlock',
                                  unlock_album_playlist_path(album_playlist),
                                  method: :post %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>

    <br/>
    <br/>
    <%= will_paginate @album_playlists %>
    <%
      def items_per_page_select(collection = AlbumPlaylist)
        select_tag :per_page, options_for_select([10, 20, 50, 100], collection.per_page)
      end
    %>
    <%= form_for '/album_playlists', method: :get do |f| %>
      <span>Items per page: </span>
      <%= items_per_page_select @album_playlists %>
      <%= f.submit "Submit" %>
    <% end %>

<% else %>
    No playlists were found
<% end %>