<% cache 'album_search_form' do %>
    <fieldset>
      <legend>Search Albums</legend>
      <% search_form_for @search,
                         loading: "Element.show('spinner')",
                         complete: "Element.hide('spinner')" do |albums| %>

          <%= hidden_field_tag 'id',
                               params[:id] %>
          <%= hidden_field_tag 'playlist_id',
                               params[:id] %>

          Match ANY or ALL of the conditions:
          <%= albums.combinator_select %>
          <br/>
          <table>
            <tr>
              <td valign="top">
                Title Original:<br>
                <%= albums.text_field :title_original_matches %>
                <br>
                Artist Original:<br>
                <%= albums.text_field :artist_original_matches %>
              </td>
              <td valign="top">
                Title (Translated):<br>
                <%= albums.text_field :title_english_cont %>
                <br>
                Artist (Translated):<br>
                <%= albums.text_field :artist_english_cont %>
              </td>
              <td valign="top">
                Year:<br>
                <%= albums.text_field :release_year_eq,
                                      size: 6 %>
                <br>
                CD Code:<br>
                <%= albums.text_field :cd_code_cont,
                                      size: 6 %>
              </td>
              <td valign="top">
                Label:<br>
                <% albums.fields_for albums.object.label do |label| %>
                    <%= label.select :id_equals,
                                     Label.all
                                     .collect { |p| [p.name,
                                                     p.id] },
                                     {include_blank: true} %>
                <% end %>
              </td>
            </tr>
          </table>

          <%= albums.submit "Search" %>

          <input type="reset" value="Reset">
      <% end %>
    </fieldset>
<% end %>