<%= render partial: 'layouts/albumplaylist_header' %>
<center>
  <p style="color: green">
    <%= flash[:notice] %>
  </p>
</center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Print Playlist",
                {controller: "album_playlists",
                 action: "print",
                 id: @album_playlist},
                target: "_blank" %>

    |

    <%= link_to "Export as Excel",
                controller: "album_playlists",
                action: "export_to_excel",
                id: @album_playlist %>

    |

    <%= link_to_show_overlay 'Download Playlist MP3s',
                             "/download_album_mp3/" + @album_playlist.id.to_s %>
  </div>
  <div id="content-header">Album Playlists</div>
</div>

<div id="content">
  <center>
    <h2>Edit Album Playlist</h2>

    <%= link_to "Add Album", add_album_to_playlist_path(id: @album_playlist.id), id: "add_album_to_playlist" %>
    <br/>
    <br/>

    <%= render 'form' %>

    <div id="playlist">
      <%= render partial: 'playlist',
                 object: @album_playlist %>
    </div>

    <%= link_to 'Back',
                album_playlists_path %>

  </center>

  <div id="add_album_dialog" style="display:none;">
    <div id="add_album">
    </div>
  </div>

</div>

<script type="text/javascript">
    var $ = jQuery;

    $(function () {
        $(document).on("click", "#add_album_to_playlist", function (track) {
            track.preventDefault();
            $('#add_album_dialog').dialog({
                title: 'Add Album',
                modal: true,
                width: 740,
                height: 540,
                position: ['center', 100],
                close: function (track, ui) {
                    $('#add_album_dialog').dialog('destroy')
                }
            });
            $.ajax({ url: '/add_album_to_playlist/<%= @album_playlist.id %>',
                type: 'get',
                dataType: 'script'
            });
        });
    });
</script>
