<%= render partial: 'layouts/albumplaylist_header' %>
<center>
  <p style="color: green" id="notice">
    <%= flash[:notice] %>
  </p>
</center>

<div id="content-header-wrapper">
  <div id="content-header-actions">
    <% if permitted_to? :create, :album_playlists %>
        <%= link_to "Export by airline", "/export_by_airline" %>
        <%= link_to "Create a playlist", new_album_playlist_path %>
    <% end %>
  </div>

  <div id="content-header">Album Playlists</div>
</div>

<div id="content">
  <%= render partial: 'search_form', object: @search %>

  <div id="album_playlists">
    <%= render partial: "album_playlists" %>
  </div>
</div>