<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <title>Images in Motion - Albums Playlist <%= @album_playlist.id %></title>
  <%= stylesheet_link_tag 'print',
                          media: 'print' %>
  <%= stylesheet_link_tag 'print',
                          media: 'screen' %>
</head>
<body>
<div class="print">
  <table border="0" width="100%">
    <tr>
      <td align="right" width="18%"><strong>Album Playlist ID:</strong></td>
      <td width="16%"><%= @album_playlist.id %></td>
      <td align="right" width="9%"><strong>IN/OUT:</strong></td>
      <td width="14%"><%= @album_playlist.in_out %></td>
      <td align="right" width="11%"><strong>Programmer:</strong></td>
      <td width="32%"><%= @album_playlist.user.login if !@album_playlist.user_id.nil? %></td>
    </tr>
    <tr>
      <td align="right"><strong>Client Playlist Code:</strong></td>
      <td><%= @album_playlist.client_playlist_code %>
      <td align="right"><strong>Airline:</strong></td>
      <td><%= @album_playlist.airline.name if !@album_playlist.airline_id.nil? %></td>
      <td align="right"><strong>Play Date:</strong></td>
      <td colspan="3"><%= @album_playlist.start_playdate.strftime("%B %Y") %>
        to <%= @album_playlist.end_playdate.strftime("%B %Y") %></td>
    </tr>
  </table>

  <div id="playlist">
    <table width="100%" border="1">
      <tbody id="audioplaylist">
      <%= render partial: 'playlist_item_view',
                 collection: @album_playlist.album_playlist_items_sorted %>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>