<tr id="master-<%= master.id %>">
  <td><%= master.id %></td>
  <td><%= master.video.programme_title %></td>
  <td><%= master.episode_title %></td>
  <td><%= master.episode_number %></td>
  <td><%= master.location %></td>
  <td><%= link_to 'Edit',
                  edit_master_path(master),
                  target: "_blank" %></td>
  <td>
    <%= link_to 'Delete',
                master_url(master),
                remote: true,
                target: "_blank",
                method: :delete,
                confirm: 'Are you sure?',
                loading: "Element.show('spinner')",
                complete: "Element.hide('spinner')" %>
  </td>
</tr>
