<% if @masters_count > 0 %>
    <%= @masters_count %> masters found
    <table cellspacing="0" width="100%">
      <tr>
        <th>
          <%= sort_link(@search,
                        :id,
                        'ID') %>
        </th>
        <th>
          <%= sort_link(@search,
                        :video_programme_title,
                        'Programme Title') %>
        </th>
        <th>
          <%= sort_link(@search,
                        :episode_title,
                        'Episode Title') %>
        </th>
        <th>
          <%= sort_link(@search,
                        :episode_number,
                        'Episode Number') %>
        </th>
        <th>
          <%= sort_link(@search,
                        :location,
                        'Location') %>
        </th>
        <th colspan="2"></th>
      </tr>

      <%= render partial: "master",
                 collection: @masters %>

    </table>

    <br/>
    <br/>
    <%= will_paginate @masters %>

<% else %>

    No masters were found

<% end %>