<%= render partial: 'layouts/master_header' %>
<center>
  <p style="color: green">
    <%= flash[:notice] %>
  </p>
</center>

<div id="content-header-wrapper">
  <div id="content-header-actions">
    [ <%= link_to "Prev",
                  edit_master_path(@prev_id) if !@prev_id.nil? %>
    <%= link_to "Next",
                edit_master_path(@next_id) if !@next_id.nil? %> ]
    <% if permitted_to? :admin_delete,
                        :masters %>
        <%= link_to 'Delete',
                    master_url(@master),
                    method: :delete,
                    confirm: 'Are you sure?' %>
    <% end %>

  </div>
  <div id="content-header">Edit Master<br/>
  </div>
</div>

<div id="content">
  <center>
    <h1>Edit Master</h1>

    <%= render partial: 'search_form',
               object: @search %>

    <br/><br/>

    <%= render partial: 'edit_form' %>

  </center>
  <br/><br/>
</div>
