<tr id="movie_type-row-<%= movie_type.id %>">
  <td class="list-item"><%= movie_type.id %></td>
  <td class="list-item"><%= movie_type.name %></td>
  <td class="list-item"><%= link_to 'Edit',
                                    edit_movie_type_path(movie_type) %></td>
  <td class="list-item"><%= link_to 'Delete',
                                    movie_type,
                                    confirm: 'Are you sure?',
                                    method: :delete %></td>
</tr>