  <tr id="program-row-<%=h program.id %>">
    <td class="list-item"><%=h program.id %></td>
    <td class="list-item"><%=h program.name %></td>
    <td class="list-item"><%= link_to 'Edit', edit_program_path(program) %></td>
    <td class="list-item"><%= link_to 'Delete', program, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>