  <tr id="category-row-<%= category.id %>">
    <td class="list-item"><%= category.id %></td>
    <td class="list-item"><%= category.name %></td>
    <td class="list-item"><%= link_to 'Edit', edit_supplier_category_path(category) %></td>
    <td class="list-item"><%= link_to 'Delete', category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>