<script type = "text/javascript">
jQuery.ajaxSetup({ 'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")} })

jQuery.fn.submitWithAjax = function() {
  this.unbind('submit', false);
  this.submit(function() {
    jQuery.post(this.action, jQuery(this).serialize(), null, "script");
    return false;
  })

  return this;
};

//This will "ajaxify" the links
function ajaxLinks(){
    jQuery('.ajaxForm').submitWithAjax();
}

jQuery(document).ready(function() {

	// All non-GET requests will add the authenticity token
	// if not already present in the data packet
	jQuery(document).ajaxSend(function(event, request, settings) {
	   if (typeof(window.AUTH_TOKEN) == "undefined") return;
     // <acronym title="Internet Explorer 6">IE6</acronym> fix for http://dev.jquery.com/ticket/3155
     if (settings.type == 'GET' || settings.type == 'get') return;
     settings.data = settings.data || "";
     settings.data += (settings.data ? "&" : "") + "authenticity_token=" + encodeURIComponent(window.AUTH_TOKEN);
   });
  ajaxLinks();
});
</script>

<% semantic_form_for(@screener, :html => { :class => 'ajaxForm' } ) do |f| %>
	<div id="flash_notice"></div>

	<%= f.error_messages %><br/>
	
	<% f.inputs do %>

		<%= f.input :video_id, :as => :hidden %>
		<table class="screener">
		  	<tr>
					<td width="100" valign="top"><%= f.input :episode_title, :input_html=>{:class=>"screener_title"}, :label => "Episode Title" %></td>
					<td width="100" valign="top">Episode Number <%= f.text_field :episode_number, :size => 5 %></td>
					<td width="100" valign="top">
						<%= f.input :remarks,	:as => :select, :collection =>["VHS", "B&W", "Chinese Subs", "Other"], :include_blank => true %>
					</td>
					<td width="100" valign="top">Other <%= f.text_field :remarks_other, :size => 16 %></td>	
					<td width="50" valign="top"><%= f.input :location,	:as => :select, :collection =>["SIN", "BJS", "JKT"] %></td>
					<td><%= f.buttons %></td>
				</tr>
		</table>
		
		
	<% end %>
<% end %>