<% if @screeners_count > 0 %>
    <%= @screeners_count %> screeners found
    <table cellspacing="0" width="100%">
      <tr>
        <th>
          <%= sort_link(@search, :id, 'ID') %>
        </th>
        <th>
          <%= sort_link(@search, :video_programme_title, 'Programme Title') %>
        </th>
        <th>
          <%= sort_link(@search, :episode_title, 'Episode Title') %>
        </th>
        <th>
          <%= sort_link(@search, :episode_number, 'Episode Number') %>
        </th>
        <th>
          <%= sort_link(@search, :location, 'Location') %>
        </th>
        <th colspan="2"></th>
      </tr>

      <%= render partial: "screener",
                 collection: @screeners %>
    </table>

    <br/>
    <br/>
    <%= will_paginate @screeners %>
    <%
      def items_per_page_select(collection = Screeners)
        select_tag :per_page, options_for_select([10, 20, 50, 100], collection.per_page)
      end
    %>
    <%= form_for '/screeners', method: :get, html: { class: 'items_per_page_select' } do |f| %>
      <span>Items per page: </span>
      <%= items_per_page_select @screeners %>
      <%= f.submit "Submit" %>
    <% end %>

<% else %>

    No screeners were found

<% end %>