<% @selected_track = (params[:language]).nil? ? '' : params[:language][:track] %>
<% @selected_subtitle = (params[:language]).nil? ? '' : params[:language][:subtitle] %>
<%= search_form_for @search,
                    class: 'spinner-trigger' do |screeners| %>
    <fieldset>
      <legend>Search Screeners</legend>
      Match ANY or ALL of the conditions:
      <%= screeners.combinator_select %>
      <br/>

      <%= image_tag 'spinner.gif',
                    id: 'spinner',
                    class: 'transparent' %>
      <br/>

      <table>
        <tr>
          <td valign="top">
            Video Title:<br/>
            <%= screeners.text_field :video_programme_title_cont %>
            <br/>
            Episode Title:<br/>
            <%= screeners.text_field :episode_title_cont %>
            <br/>
          </td>
          <td valign="top">
            Distributor:<br/>
            <%= screeners.select :video_video_distributor_id_eq,
                                 Supplier.video_distributors.collect { |p| [p.company_name,
                                                                            p.id] },
                                 include_blank: true %>
            <br/>
            Laboratory:<br/>
            <%= screeners.select :video_laboratory_id_eq,
                                 Supplier.laboratories.collect { |p| [p.company_name,
                                                                      p.id] },
                                 include_blank: true %>
            <br/>
          </td>
<!--
          <td valign="top">
            Lang Track:<br/>
-->
            <%#= select :language,
                       :track,
                       @languages,
                       {include_blank: true,
                        selected: @selected_track} %>
<!--
            <br/>
            Lang Subtitles:<br/>
-->
            <%#= select :language,
                       :subtitle,
                       @languages,
                       {include_blank: true,
                        selected: @selected_subtitle} %>
<!--
          </td>
-->
          <td valign="top">
            Genre:<br/>
            <%= screeners.select :video_video_genres_video_parent_genre_id_eq,
                                 VideoParentGenre.all.collect { |p| [p.name, p.id] },
                                 {include_blank: true} %>
            <br/>
            Sub Genre:<br/>
            <%= screeners.select :video_video_genres_id_eq,
                                 VideoGenre.all.collect { |p| [p.name, p.id] },
                                 {include_blank: true} %>
          </td>
          <td valign="top">
            Video type:<br/>
            <%= screeners.select :video_video_type_eq,
                                 Video::VIDEO_TYPES,
                                 {include_blank: true} %> <br/>
            Production Year:<br/>
            <%= screeners.text_field :video_production_year_eq,
                                     size: 6 %>
          </td>
          <td valign="top">
            Tape Location Number:<br/>
            <%= screeners.text_field :video_screeners_location_eq,
                                     size: 6 %>
            <br/>
            Video ID:<br/>
            <%= screeners.text_field :video_id_eq,
                                     size: 6 %>
          </td>
          <td valign="top">
            Deactivated Screener:<br/>
            <%= check_box_tag :active, '1', params[:active].to_i == 1 %>
          </td>
        </tr>
      </table>
      <!--
	<table>
		<tr>
			<td valign="top">
				Episode Title:<br/>
				<%#= screeners.text_field :episode_title %><br/>
			</td>
			<td valign="top">
			</td>
			<td valign="top">
				Location:<br/>
				<%#= screeners.text_field :location %><br/>
			</td>
		</tr>
	</table>
	-->
      <%= screeners.submit "Search" %>
      <input type="reset" value="Reset">
    </fieldset>
<% end %>
