<table width="500" id="videos" cellspacing="0" cellpadding="0">
  <tr>
    <th width="250">
      Episode Title
    </th>
    <th width="60">
      Episode #
    </th>
    <th>
      Location
    </th>
    <th></th>
  </tr>
  <% Master.where("video_id = #{video_id} AND active=true").each do |master| %>
      <tr>
        <td><%= master.episode_title %></td>
        <td><%= master.episode_number %></td>
        <td><%= master.location %></td>
        <td width="140">
          <%= link_to 'duplicate',
                      duplicate_master_path(master),
                      confirm: 'Are you sure?',
                      method: :post %> |
          <%= link_to "edit",
                      edit_master_path(master),
                      class: 'edit_master' %> |
          <%= link_to 'delete',
                      master_path(master),
                      class: 'delete_master' %>

        </td>
      </tr>
  <% end %>
</table>