<table class="screener">
  	<tr>
			<td><%= f.input :episode_title, :input_html=>{:class=>"screener_title"}, :label => "Episode Title" %></td>
			<td>Episode Number <%= f.text_field :episode_number, :size => 5 %></td>
			<td><%= f.input :location,	:as => :select, :collection =>["SIN", "BJS", "JKT"] %></td>		
			<td><%= f.input :remarks,	:as => :select, :collection =>["VHS", "B&W", "Chinese Subs", "Other"], :include_blank => true %></td>
			<td>Other <%= f.text_field :remarks_other, :size => 16 %></td>	
			<td><%= link_to_function "remove", "$(this).up('.screener').remove()" %></td>
		</tr>
</table>
