<table width="500" id="videos" cellspacing="0" cellpadding="0">
  <tr>
    <th width="250">
      Episode Title
    </th>
    <th width="60">
      Episode #
    </th>
    <th>
      Location
    </th>
    <th></th>
  </tr>
  <% Screener.find_all_by_video_id(video_id).each do |screener| %>
      <tr>
        <td><%= screener.episode_title %></td>
        <td><%= screener.episode_number %></td>
        <td><%= screener.location %></td>
        <td width="140">
          <%= link_to 'duplicate',
                      duplicate_screener_path(screener),
                      confirm: 'Are you sure?',
                      method: :post %> |
          <%= link_to "edit",
                      edit_screener_path(screener),
                      class: 'edit_screener' %> |
          <%= link_to 'delete',
                      screener_path(screener),
                      class: 'delete_screener' %>
        </td>
      </tr>
  <% end %>
</table>