<tr id="video-<%= video.id %>">
  <%# cache([video,
"videos"]) do %>
  <td><%= link_to video.id,
                  video_path(id: video.id),
                  popup: true %></td>
  <td><%= video.programme_title %></td>
  <td><%= video.video_distributor.company_name if !video.video_distributor.nil? %></td>
  <td><%= video.video_type %></td>
  <td><%= video.commercial_run_time.minutes if !video.commercial_run_time.nil? %></td>
  <%# end %>
  <td><%= video.video_genres.collect { |r| r.name }.to_sentence %></td>
  <td><%= video.screeners_count > 0 ? 'Yes' : 'No' %></td>
  <td><%= video.masters_count > 0 ? 'Yes' : 'No' %></td>
  <% if (params[:playlist_id] || params["action"]=="add_video_to_playlist") %>
      <td>
        <% if !video.to_delete %>
            <%= link_to "add to playlist",
                        remote: true,
                        url: {controller: "video_playlists",
                              action: "add_video",
                              id: params[:id],
                              video_id: video.id},
                        loading: "Element.show('spinner')",
                        complete: "Element.hide('spinner')" %>
        <% else %>
            Pending Deletion
        <% end %>
      </td>
  <% else %>
      <td><%= link_to 'Edit',
                      edit_video_path(video),
                      popup: true %></td>
      <td>
        <% if !video.to_delete %>
            <%= link_to 'Delete',
                        remote: true,
                        url: video_url(video),
                        method: :delete,
                        confirm: 'Are you sure?',
                        loading: "Element.show('spinner')",
                        complete: "Element.hide('spinner')",
                        with: "'redirect_url=#{request.url}'" %>
        <% else %>
            <% if permitted_to? :admin_delete,
                                :videos %>
                <%= link_to 'Delete',
                            remote: true,
                            url: video_url(video),
                            method: :delete,
                            confirm: 'Are you sure?',
                            loading: "Element.show('spinner')",
                            complete: "Element.hide('spinner')",
                            with: "'redirect_url=#{request.url}'" %>
            <% end %>
            <%= link_to 'Restore',
                        remote: true,
                        url: {action: "restore",
                              id: video.id},
                        loading: "Element.show('spinner')",
                        complete: "Element.hide('spinner')" %>
        <% end %>
      </td>
  <% end %>
</tr>
