<% if @videos_count > 0 %>
    <%= @videos_count %> videos found
    <table cellspacing="0" width="100%">
      <tr>
        <th>
          <%= sort_link @search,
                        :id,
                        'ID' %>
        </th>
        <th>
          <%= sort_link @search,
                        :programme_title,
                        'Programme Title' %>
        </th>
        <th>
          <%= sort_link @search,
                        :video_distributor_company_name,
                        'Company Name' %>
        </th>
        <th>
          <%= sort_link @search,
                        :video_type,
                        'Video Type' %>
        </th>
        <th>
          <%= sort_link @search,
                        :commercial_run_time_id,
                        'Commercial Runtime' %>
        </th>
        <th>Genres</th>
        <th>
          <%= sort_link @search,
                        :screeners_count,
                        'Screeners Held' %>
        </th>
        <th>
          <%= sort_link @search,
                        :masters_count,
                        'Masters Held' %>
        </th>
        <th colspan="2"></th>
      </tr>

      <%= render partial: 'video',
                 collection: @videos %>
    </table>

    <br/>
    <br/>
    <%= will_paginate @videos %>
    <%
      def items_per_page_select(collection = Videos)
        select_tag :per_page, options_for_select([10, 20, 50, 100], collection.per_page)
      end
    %>
    <%= form_for '/videos', method: :get, html: { class: 'items_per_page_select' } do |f| %>
      <span>Items per page: </span>
      <%= items_per_page_select @videos %>
      <%= f.submit "Submit" %>
    <% end %>


<% else %>

    No videos were found

<% end %>