<% if @videos_count > 0 %>
    <%= @videos_count %> videos found
    <table cellspacing="0" width="100%">
      <tr>
        <th>
          <%= sort_link @search, :id, 'ID' %>
        </th>
        <th>
          <%= sort_link @search, :programme_title, 'Programme Title' %>
        </th>
        <th>
          <%= sort_link @search, :video_distributor_company_name, 'Company Name' %>
        </th>
        <th>
          <%= sort_link @search, :video_type, 'Video Type' %>
        </th>
        <th>
          <%= sort_link @search, :commercial_run_time_id, 'Commercial Runtime' %>
        </th>
        <th>Genres</th>
        <th>
          <%= sort_link @search, :screeners_count, 'Screeners Held' %>
        </th>
        <th>
          <%= sort_link @search, :masters_count, 'Masters Held' %>
        </th>
        <th colspan="2"></th>
      </tr>

      <%= render partial: 'video',
                 collection: @videos %>
    </table>

    <br />
    <br />
    <%=  will_paginate @videos %>


<% else %>

    No videos were found

<% end %>