<tr>
<td><%=h audio_playlist_track.track_num %></td>
<td><%=h audio_playlist_track.title_original %></td>
<td><%=h audio_playlist_track.artist_original %></td>
<td><%=h audio_playlist_track.duration_min %>:<%=h audio_playlist_track.duration_sec %></td>
</tr>