<tr>
<td><%= audio_playlist_track.track_num %></td>
<td><%= audio_playlist_track.title_original %></td>
<td><%= audio_playlist_track.artist_original %></td>
<td><%= audio_playlist_track.duration_min %>:<%= audio_playlist_track.duration_sec %></td>
</tr>