<div id="header">
  <div id="title">Audio Playlist Maker</div>
  <div id="nav">
    <ul>
      <li><%= link_to "Dashboard", controller: "dashboard" %></li>
      <li id="curr-nav"><%= link_to "Songs Playlists", controller: "audio_playlists" %></li>
      <li><%= link_to "Albums Playlists", controller: "album_playlist" %></li>
      <li><%= link_to "Songs", controller: "tracks" %></li>
      <li><%= link_to "Albums", controller: "albums" %></li>
    </ul>
    <div id="clear"><br/></div>
  </div>
</div>
<center><p style="color: green"><%= flash[:notice] %><%= inplace_error_div %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <% if permitted_to? :create, :audio_playlists %>
        <%= link_to "Create a playlist" %>
    <% end %>
  </div>
  <div id="content-header">Songs Playlist</div>
</div>