<fieldset>
  <legend>Search Songs Playlists</legend>

  <%= search_form_for @search,
                      loading: "Element.show('spinner')",
                      complete: "Element.hide('spinner')" do |audio_playlists| %>

      Match ANY or ALL of the conditions:
      <%= audio_playlists.combinator_select %>
      <%= image_tag 'spinner.gif',
                    id: 'spinner',
                    style: 'display:none;' %>
      <br/>
      <table>
        <tr>
          <td>
            Playlist ID:
            <br/>
            <%= audio_playlists.text_field :id_eq,
                                           size: 6 %>
          </td>
          <td valign="top">
            Program:<br/>
            <%= audio_playlists.select :program_id_eq,
                                       Program.order("name asc")
                                       .collect { |p| [p.name,
                                                       p.id] },
                                       {include_blank: true} %>
          </td>
          <td valign="top">
            Airline:
            <br/>
            <%= audio_playlists.select :airline_id_eq,
                                       Airline.order("name asc")
                                       .collect { |p| [p.name,
                                                       p.id] },
                                       {include_blank: true} %>
          </td>
          <td>
            Start Playdate:
            <br/>
            <%= audio_playlists.date_select :start_playdate_matches,
                                            {discard_day: true,
                                             order: [:month,
                                                     :year],
                                             include_blank: true,
                                             default: ""} %>
            <br/>
          </td>

          <td>
            End Playdate:
            <br/>
            <%= audio_playlists.date_select :end_playdate_matches,
                                            {discard_day: true,
                                             order: [:month,
                                                     :year],
                                             include_blank: true,
                                             default: ""} %>
            <br/>
          </td>
          <td valign="bottom">
            <%= audio_playlists.submit "Search" %>
          </td>
        </tr>
      </table>
  <% end %>

</fieldset>
