  <fieldset>
        <legend>Search Songs Playlists</legend>

        <% f.fields_for @search.conditions do |audio_playlists| %>
			Match ANY or ALL of the conditions: <%= audio_playlists.select :any, [["All", false], ["Any", true]] %> <%= image_tag 'spinner.gif', :id => 'spinner', :style => 'display:none;' %><br />
			<table><tr><td>
            Playlist ID:<br/>
			<%= audio_playlists.text_field :id_equals, :size=> 6 %>
			</td>
			<td valign="top">
			Program:<br />
            <%= audio_playlists.select :program_id_equals, Program.find(:all, :order=>"name asc").collect {|p| [p.name, p.id] }, { :include_blank => true } %>	</td>
			<td valign="top">Airline:<br />
            <%= audio_playlists.select :airline_id_equals, Airline.find(:all, :order=>"name asc").collect {|p| [p.name, p.id] }, { :include_blank => true } %></td>
				<td>Start Playdate:<br />
				<%= audio_playlists.date_select :start_playdate_like,  {:discard_day => true, :order => [:month, :year],:include_blank => true, :default=>""}  %><br />
				</td>

				<td>End Playdate:<br />
				<%= audio_playlists.date_select :end_playdate_like,  {:discard_day => true, :order => [:month, :year],:include_blank => true, :default=>""}  %><br />
				</td>

    	  <td valign="bottom"><%= f.submit "Search" %></td>	  
			</tr>
			</table>
        <% end %>
		
    </fieldset>
    