<tr id="item_<%= playlist_track_view.id %>">
<td>
	<% if playlist_track_view.track.nil? %>
	Missing Track <%= playlist_track_view.track_id %>
	<% else %>
<table width="100%">
<tr>
<td class="pl-title" width="161">(<%= playlist_track_view.position %>)Track Title:</td>
<td width="221"><%= playlist_track_view.track.title_original %></td>
<td class="pl-title" width="115">Intro Tempo:</td>
<td width="46"><%= playlist_track_view.track.tempo_intro %></td>
<td class="pl-title" width="159">Composer:</td>
<td width="81"><%= playlist_track_view.track.composer %></td>
<td class="pl-title" width="84">Label:</td>
<td width="100"><%= playlist_track_view.track.album.label.name if !playlist_track_view.track.album.label_id.nil?%></td>
</tr>
<tr>
<td class="pl-title" width="161">Track Title(Translated):</td>
<td width="221"><%= playlist_track_view.track.title_english %></td>
<td class="pl-title" width="115">Tempo</td>
<td width="46"><%= playlist_track_view.track.tempo %></td>
<td class="pl-title" width="159">Track Num:</td>
<td width="81"><%= playlist_track_view.track.track_num %></td>
<td class="pl-title">Origin:</td>
<td width="100"><%= playlist_track_view.track.origin.name if (!playlist_track_view.track.origin_id.nil? && playlist_track_view.track.origin_id!=0) %></td>
</tr>
<tr>
<td class="pl-title" width="161">Artist:</td>
<td width="221"><%= playlist_track_view.track.artist_original %></td>
<td class="pl-title" width="115">Outro Tempo:</td>
<td width="46"><%= playlist_track_view.track.tempo_outro %></td>
<td class="pl-title" width="159">Duration:</td>
<td width="81"><%= duration(playlist_track_view.track.duration) %></td>
<td class="pl-title" >CD Code</td>
<td width="100"><%= playlist_track_view.track.album.cd_code %></td>
</tr>

<%
	if playlist_track_view.vo_duration.nil? 
		vo_duration=0
	else
		vo_duration = playlist_track_view.vo_duration.to_i
	end
%>
<tr>
	<td class="pl-title" >VO Duration (sec):</td>
	<td><%=playlist_track_view.vo_duration %></td>
	<td class="pl-title" >Split (min):</td>
	<td><%=playlist_track_view.split %></td>
	<td class="pl-title" >Accumulated Duration:</td>
	<td><%= duration(@accum_duration + playlist_track_view.track.duration + (vo_duration*1000)) %></td>
	<td></td><td></td>
</tr>
<tr>
  <td class="pl-title" align="LEFT">Mastering:</td>
  <td colspan="5" ><%= playlist_track_view.mastering %></td>
  <td class="pl-title" width="84">Genre:</td>
  <td width="100"><%= playlist_track_view.track.genre %></td>
</tr>
<% 

	if !playlist_track_view.split.nil? && playlist_track_view.split!=0 && playlist_track_view.split!=""
		@accum_duration = 0
	else
		@accum_duration += playlist_track_view.track.duration + (vo_duration*1000)
	end		 
%>
</table>
<% end %>
</td>
</tr>