<% cache 'track_search_form' do %>
<fieldset>
	<legend>Search Tracks</legend> <% f.fields_for @search.conditions do |tracks| %> Match ANY or ALL of the conditions: <%= tracks.select :any, [["All", false], ["Any", true]] %>
	<table>
		<tr>
			<td valign="top">
				Title Original:<br>
				<%= tracks.text_field :title_original_like, :size=>25 %><br>
				Artist Original:<br>
				<%= tracks.text_field :artist_original_like, :size=>25 %><br>
				Duration:<br>
				<%= text_field_tag 'dur_min_min', '', :size => 3 %>:<%= text_field_tag 'dur_min_sec', '', :size => 3 %> to <%= text_field_tag 'dur_max_min', '', :size => 3 %>:<%= text_field_tag 'dur_max_sec', '', :size => 3 %><br>
			</td>
			<td valign="top">
				Title (Translated):<br>
				<%= tracks.text_field :title_english_keywords, :size=>15 %><br>
				Artist (Translated):<br>
				<%= tracks.text_field :artist_english_keywords, :size=>15 %><br/>
				Track Num:<br>
				<%= tracks.text_field :track_num_equals, :size=>15 %><br/><br/>
			</td>
			<td valign="top">
				Album Title Original:<br>
				<% tracks.fields_for tracks.object.album do |album| %>
				<%= album.text_field :title_original_keywords, :size=>25 %><br>
				Label:<br>
				 <%= album.select :label_id_equals, Label.all.collect {|p| [p.name, p.id] }, { :include_blank => true } %><% end %><br>
				<% tracks.fields_for tracks.object.album do |album| %> CD Code:<br>
				<%= album.text_field :cd_code_contains , :size=>10%>
				<% end %>
				<%= f.submit "Search" %> <input type="reset" value="Reset">
			</td>
		</tr>
	</table><% end %>
</fieldset>
<% end %>