<center>

  <div class="overlay">
    <%= link_to_hide_overlay 'X',
                             audio_playlists_path,
                             id: 'cancel' %>
    <br/>

    <strong>Add Track to Playlist</strong><br/>

    <div id="search_form">
      <%= render partial: 'track_search_form',
                 object: @search %>
    </div>
    <%= image_tag 'spinner.gif',
                  id: 'spinner',
                  style: 'display:none;' %>

    <div id="item_added"></div>

    <div id="tracks">
      <%= render partial: "tracks" %>
    </div>
    <%= link_to_hide_overlay 'Cancel',
                             audio_playlists_path %>

  </div>

</center>