<%= render :partial => 'layouts/audioplaylist_header' %>
<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>

<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
	<div id="content-header-actions">
		<%= link_to "Print Playlist", {:controller => "audio_playlists", :action => "print",  :id => @audio_playlist}, :popup =>true %> |
		<%= link_to "Export as Excel", :controller => "audio_playlists", :action => "export_to_excel",  :id => @audio_playlist %> |
		<%= link_to_show_overlay 'Download Playlist MP3s', "/download_track_mp3/" + @audio_playlist.id.to_s %>
	</div>
	<div id="content-header">Songs Playlists</div>
</div>

<div id="content">
	<center>
		<h1>Edit Songs Playlist</h1>
		<div class="action-button"><%= link_to_show_overlay 'add track', add_track_to_playlist_path(@audio_playlist.id) %></div>
		<br/>
		<%= form_for(@audio_playlist) do |form| %>
          <%= error_messages_for(form.object) %>
		  <%= render :partial => 'form', :object => form %>
		  <p><%= submit_tag "Update" %></p>
		<% end %>
		<div id="playlist">
			<%= render :partial => 'playlist', :object => @audio_playlist %>
		</div>
		<%= link_to 'Back', audio_playlists_path %>
	</center>
</div>