<%= render partial: 'layouts/audioplaylist_header' %>
<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>

<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Print Playlist",
                {controller: "audio_playlists",
                 action: "print",
                 id: @audio_playlist},
                :popup => true %>
    |
    <%= link_to "Export as Excel",
                controller: "audio_playlists",
                action: "export_to_excel",
                id: @audio_playlist %> |
    <%= link_to_show_overlay 'Download Playlist MP3s',
                             "/download_track_mp3/" + @audio_playlist.id.to_s %>
  </div>
  <div id="content-header">Songs Playlists</div>
</div>

<div id="content">
  <center>
    <h1>Edit Songs Playlist</h1>

    <div class="action-button">
      <%= link_to 'add track',
                  add_track_to_playlist_path(@audio_playlist.id),
                  { class: "modal-dialog" }%>
    </div>

    <br/>

    <%= render 'form' %>

    <div id="playlist">
      <%= render partial: 'playlist',
                 object: @audio_playlist %>
    </div>
    <%= link_to 'Back',
                audio_playlists_path %>
  </center>
</div>

<script type="text/javascript">

    var $ = jQuery;

    $(function (){
        $('a.modal-dialog').click(function() {
            var url = this.href;
            // show a spinner or something via css
            var dialog = $('<div style="display:none" class="loading"></div>').appendTo('body');
            // open the dialog
            dialog.dialog({
                // add a close listener to prevent adding multiple divs to the document
                close: function(event, ui) {
                    // remove div with all data and events
                    dialog.remove();
                },
                modal: true,
                height: 540,
                width: 740
            });
            // load remote content
            $.ajax(
                    
            dialog.load(
                    url,
                    {}, // omit this param object to issue a GET request instead a POST request, otherwise you may provide post parameters within the object
                    function (responseText, textStatus, XMLHttpRequest) {
                        // remove the loading class
                        dialog.removeClass('loading');
                    }
            );
            //prevent the browser to follow the link
            return false;
        });
    });
</script>
