<%= render :partial => 'layouts/audioplaylist_header' %>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
<div id="content-header-actions">
</div>
<div id="content-header">Songs Playlists</div>
</div>

<div id="content">
<center>
<h1>New Songs Playlist</h1>

<% form_for(@audio_playlist) do |form| %>
  <%= form.error_messages %>

  <%= render :partial => 'form', :object => form %>
  <p>
    <%= form.submit "Next" %>
  </p>
<% end %>

</center>
<br/><br/>
</div>