<tr>
  <td><%= result_counter + 1 %></td>
  <td><%= result.entity.title %></td>
  <td><%= result.entity.artist %></td>
  <td><%= result.entity.text_language %></td>
  <td><%= result.entity.earliest_release_date %></td>
  <td><%= result.entity.tracks.to_a.join("<br/>") %></td>

  <td><a href="<%= result.entity.id %>.html" target="_blank"><%= result.entity.id.uuid %></a></td>


  <td><%= button_to 'import', {controller: "import_album", action: "import_release", id: result.entity.id.uuid}, confirm: "Are you sure?" %></td>
</tr>