<%= form_for @split,
             remote: true,
             html: {id: "split_form"} do |f| %>
    <table>
      <tr>
        <th>Split Name</th>
        <td>
          <%= f.text_field :name,
                           size: 5 %>
        </td>
        <th>Split Dur</th>
        <td>
          <%= f.text_field :duration,
                           size: 5 %>
        </td>
        <th>More Than</th>
        <td>
          <%= text_field_tag 'more_than_min',
                             "",
                             :size => 3 %> min
          <%= text_field_tag 'more_than_sec',
                             "",
                             :size => 3 %> sec
        </td>
        <th>Less Than</th>
        <td>
          <%= text_field_tag 'less_than_min',
                             "",
                             :size => 3 %> min
          <%= text_field_tag 'less_than_sec',
                             "",
                             :size => 3 %> sec
        </td>
        <td colspan="2">
          <%= f.submit "Add New Split" %>
        </td>
      </tr>
    </table>
<% end %>