<tr id="split-row-<%= split.id %>">
  <td class="list-item"><%= split.id %></td>
  <td class="list-item"><%= split.name %></td>
  <td class="list-item"><%= split.duration %></td>
  <td class="list-item"><%= duration(split.more_than) %></td>
  <td class="list-item"><%= duration(split.less_than) %></td>
  <td class="list-item"><%= link_to 'Edit', edit_split_path(split) %></td>
  <td class="list-item"><%= link_to 'Delete', split, confirm: 'Are you sure?', method: :delete %></td>
</tr>