<tr id="album-<%= album.id %>">
  <% cache([album, "album_playlists"]) do %>
	<td><%= link_to album.id, album_path(:id => album.id ) %></td>
	<td><%= album.title_original %><br/><%= album.title_english %></td>
	<td><%= album.artist_original %><br/><%= album.artist_english %></td>
	<td><%= album.label.name if !album.label_id.nil? || !album.label.nil? %></td>
	<td><%= album.release_year %>&nbsp;</td>
	<td><%= album.cd_code %>&nbsp;</td>
  <% end %>
	<% if (params[:playlist_id] || params["action"]=="add_album_to_playlist")  %>
		<td>
		<% if !album.to_delete %>
		<%= link_to_remote "add to playlist", 
			:url      => {:controller => "album_playlists", 
			:action   => "add_album", 
			:id       => params[:id], 
			:album_id => album.id},
			:loading  => "Element.show('spinner')",
			:complete => "Element.hide('spinner')" %>
		<% else %>
			Pending Deletion
		<% end %>
		</td>
	<% else %>
		<td><%= link_to 'Edit', edit_album_path(album) %></td>
		<td>
			<% if !album.to_delete %>
			<%= link_to_remote 'Delete', 	:url  => album_url(album), :method => :delete, :confirm => 'Are you sure? Tracks from the album will be deleted too.', :loading => "Element.show('spinner')", :complete => "Element.hide('spinner')"  %>
			<% else %>
			<% if permitted_to? :admin_delete, :albums %>
			<%= link_to_remote 'Delete', 	:url  => album_url(album), :method => :delete, :confirm => 'Are you sure? Tracks from the album will be deleted too.', :loading => "Element.show('spinner')", :complete => "Element.hide('spinner')"  %>
			<% end %>
			<%= link_to_remote 'Restore', :url => { :action => "restore", :id => album.id }, :loading => "Element.show('spinner')", :complete => "Element.hide('spinner')"  %>
			<% end %>
		</td>	
		<% end %>			
	</tr>
