<%= form_for :album, url: {action: "create"} do |form| %>
    <table class="edit">
      <tr>
        <th>Album Title (Original)</th>
        <td><%= form.text_field :title_original %></td>
        <th>Label <%= link_to "+",
                              labels_path,
                              id: 'add',
                              popup: true %>
        </th>
        <td colspan="3" width="400">
          <%= select("album",
                     "label_id",
                     Label.order("name")
                     .collect { |p| [p.name, p.id] },
                     {include_blank: true}) %>
        </td>
      </tr>
      <tr>
        <th><%= link_to "YesAsia",
                        "http://www.yesasia.com",
                        popup: true %>
          Album Title (Translated)
        </th>
        <td>
          <%= form.text_field :title_english %>
        </td>
        <th>Release Year</th>
        <td colspan="3">
          <%= form.text_field :release_year %>
        </td>
      </tr>
      <tr>
        <th>Artist (Original)</th>
        <td>
          <%= form.text_field :artist_original %>
        </td>
        <th>Publisher
          <%= link_to "+",
                      publishers_path,
                      id: 'add',
                      popup: true %>
        </th>
        <td colspan="3">
          <%= select("album",
                     "publisher_id",
                     Publisher.order("name")
                     .collect { |p| [p.name, p.id] },
                     {include_blank: true}) %>
        </td>
      </tr>
      <tr>
        <th>
          <%= link_to "YesAsia",
                      "http://www.yesasia.com",
                      popup: true %>
          Artist (Translated)
        </th>
        <td>
          <%= form.text_field :artist_english %>
        </td>
        <th>Disc</th>
        <td colspan="3">
          <%= form.text_field :disc_num,
                              size: 5 %>

          of

          <%= form.text_field :disc_count,
                              size: 5 %></td>
      </tr>
      <tr>
        <th>CD Code</th>
        <td>
          <%= form.text_field :cd_code %>
        </td>
        <th>Live Album</th>
        <td>
          <%= check_box("album",
                        "live_album") %>
        </td>
        <th>Explicit Lyrics</th>
        <td>
          <%= check_box("album",
                        "explicit_lyrics") %>
        </td>
      </tr>
      <tr>
        <th>
          <a href="http://images.google.com/images?hl=en&q=cd+cover+<%= @album.title_original %>+<%= @album.artist_original %>"
             target="_blank">
            Google
          </a>

          |

          <%= link_to 'Amazon',
                      {controller: :albums,
                       action: :amazon_cd_covers,
                       id: @album},
                      popup: true %>
          CD Cover<br>
          <span class="hint">(JPEG, GIF, or PNG files up to 500 KB)</span>
        </th>
        <td>
          <%= form.file_field :cover,
                              size: 20 %>
        </td>
        <th>Gender</th>
        <td>
          <%= select("album",
                     "gender",
                     gender,
                     {include_blank: true}) %>
        </td>
        <th>Language</th>
        <td>
          <%= select("album",
                     "language_id",
                     Language.order("name")
                     .collect { |p| [p.name, p.id] },
                     {include_blank: true}) %>
          <%= link_to "+",
                      languages_path,
                      id: 'add',
                      popup: true %>
        </td>
      </tr>
      <tr>
        <th>Compilation</th>
        <td>
          <%= check_box("album",
                        "compilation") %>
        </td>
        <th>Origin</th>
        <td>
          <%= select("album",
                     "origin_id",
                     Origin.order("name")
                     .collect { |p| [p.name, p.id] },
                     {include_blank: true}) %>
          <%= link_to "+",
                      origins_path,
                      id: 'add',
                      popup: true %>
        </td>
        <th>Total Duration:</th>
        <td>
          <%= @album.duration_in_min %>
        </td>
      </tr>
    </table>

    <br/>
    <%= submit_tag "Create",
                   class: "submit" %> &nbsp;
    <%= link_to "cancel",
                {action: "index"},
                class: "Cancel" %>
<% end %>
