<%= search_form_for @search,
                   loading: "Element.show('spinner')",
                   complete: "Element.hide('spinner')" do |albums| %>
    <fieldset>
        <legend>Search Albums</legend>
        Match ANY or ALL of the conditions:
        <%= albums.combinator_select %>
        <%= image_tag 'spinner.gif', :id => 'spinner', :style => 'display:none;' %><br/>
        <table>
            <tr>
                <td valign="top">
                    Title Original:<br>
                    <%= albums.text_field :title_original_matches %><br>
                    Artist Original:<br>
                    <%= albums.text_field :artist_original_matches %>
                </td>
                <td valign="top">
                    Title (Translated):<br>
                    <%= albums.text_field :title_english_cont %><br>
                    Artist (Translated):<br>
                    <%= albums.text_field :artist_english_cont %>
                </td>
                <td valign="top">
                    Year:<br>
                    <%= albums.text_field :release_year_eq, :size => 6 %><br>
                    CD Code:<br>
                    <%= albums.text_field :cd_code_cont, :size => 6  %>
                </td>
                <td valign="top">
                    Label:<br>
                    <%= albums.fields_for :labels do |label| %>
                        <%= label.select :id_eq, Label.all
                                                      .collect {|p| [p.name, p.id] },
                                                      { :include_blank => true } %>
                    <% end %><br/>
                    Genre:<br>
                    <%= albums.fields_for :genres do |genres| %>
                        <%= genres.select :id_eq, Genre.all
                                                       .collect {|p| [p.name, p.id] },
                                                       { :include_blank => true } %>
                    <% end %>
                    Pending Delete: <%= albums.check_box :to_delete_eq %>
                </td>
            </tr>
        </table>
        <%= albums.submit "Search" %>
    </fieldset>
<% end %>
