<tr id="item_<%= track.id %>" class="sortable">
  <td width="5%"><%= image_tag("arrow_move.png") %></td>
  <td width="5%"><%= track.track_num %></td>
  <td width="45%">
    <% if track.mp3_exists == true %>
        <%= link_to track.title_original,
                    Settings.nas_mp3_url + track.album.id.to_s + "/" + track.track_num.to_s + ".mp3",
                    title: track.artist_original + " - " + track.title_original %>
    <% else %>
        <%= track.title_original %>
    <% end %>
  </td>
  <td width="20%"><%= track.artist_original %></td>
  <td width="10%"><%= duration(track.duration) %></td>
  <td width="15%">
    <%= link_to 'Edit',
                edit_track_path(track) %>
    <%= link_to 'Delete',
                track,
                confirm: 'Are you sure?',
                method: :delete %>
  </td>
</tr>