<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>
<script type="text/javascript" src="/ymp/ef.ymp.utilities.js"></script>
<script type="text/javascript" src="/ymp/trackseek.js"></script>
<%= render partial: 'layouts/album_header' %>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Wikipedia",
                "http://www.wikipedia.org/wiki/#{@album.artist_original.sub(/ /,
                                                                            '_')}",
                target: "_blank" %> |
    <%= link_to "YesAsia",
                "http://www.yesasia.com",
                target: "_blank" %> | <%= link_to "Import Album from MusicBrainz",
                                             controller: "import_album" %>
  </div>
  <div id="content-header">Edit Album : <%= @album.title_original %>
    <br/>
  </div>

</div>
<div id="content">
  <center>
    <div id="cd-large">
      <%= link_to(image_tag(@album.cover.url(:medium)),
                  @album.cover.url(:original),
                  target: "_blank") %>
    </div>

    <%= render 'edit_form' %>

  </center>
  <br/><br/>
</div>
