<%= render partial: 'layouts/album_header' %>
<center>
  <p style="color: green" id="notice">
    <%= flash[:notice] %>
  </p>
</center>

<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Create an album",
                new_album_path %>
    <%= link_to "Import Album from MusicBrainz",
                controller: "import_album" %>
  </div>
  <div id="content-header">Albums</div>
</div>

<div id="content">

  <%= render partial: 'search_form',
             object: @search %>

  <div id="albums">
    <%= render partial: 'albums',
               object: @search %>
  </div>

</div>

