<script type="text/javascript" src="http://mediaplayer.yahoo.com/js"></script>
<script type="text/javascript" src="/ymp/ef.ymp.utilities.js"></script>
<script type="text/javascript" src="/ymp/trackseek.js"></script>
<%= render partial: 'layouts/album_header' %>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Edit Album |",
                edit_album_path(@album) if permitted_to? :edit,
                                                         :albums %> <%= link_to "Import Album from MusicBrainz",
                                                                                controller: "import_album" %>
  </div>
  <div id="content-header">Albums</div>
</div>
<div id="content">
  <center>

    <table width="80%" class="show">
      <tr>
        <td class="show-title" width="20%">Album Title (Original)</td>
        <td width="25%"><%= @album.title_original %></td>
        <td class="show-title" width="15%">Label</td>
        <td><%= @album.label.name if !@album.label.nil? %></td>
        <th>Album Playlists this album is in:</th>
      </tr>
      <tr>
        <td class="show-title">Album Title (Translated)</td>
        <td><%= @album.title_english %></td>
        <td class="show-title">Release Year</td>
        <td><%= @album.release_year %></td>
        <td rowspan="9" valign="top">

          <% @playlists.each do |playlist| %>
              <%= link_to playlist.album_playlist_id,
                          album_playlist_path(id: playlist.album_playlist_id) if !playlist.album_playlist.nil? %>
              <%= playlist.album_playlist.client_playlist_code if !playlist.album_playlist.nil? && !playlist.album_playlist.client_playlist_code.nil? %>
              <br/>
          <% end %>

          <% @album.audio_playlist_tracks.each do |playlist| %>
              <%= link_to playlist.audio_playlist_id,
                          audio_playlist_path(id: playlist.audio_playlist_id) if !playlist.audio_playlist.nil? %>
              <%= playlist.audio_playlist.client_playlist_code if !playlist.audio_playlist.nil? && !playlist.audio_playlist.client_playlist_code.nil? %>
              <br/>
          <% end %>

        </td>
      </tr>
      <tr>
        <td class="show-title">Artist (Original)</td>
        <td><%= @album.artist_original %></td>
        <td class="show-title">Publisher</td>
        <td><%= @album.publisher.name if !@album.publisher.nil? %></td>
      </tr>
      <tr>
        <td class="show-title">Artist (Translated)</td>
        <td><%= @album.artist_english %></td>
        <td class="show-title">Disc</td>
        <td><%= @album.disc_num %> of <%= @album.disc_count %></td>
      </tr>
      <tr>
        <td class="show-title">CD Code</td>
        <td><%= @album.cd_code %></td>
        <td class="show-title">Live Album</td>
        <td><%= check_box("album",
                          "live_album",
                          disabled: true) %>
          <strong>Total Duration:</strong> <%= @album.duration_in_min %>
        </td>
      </tr>
      <tr>
        <td class="show-title">Genre</td>
        <td><%= show_genres @album.genres if !@album.genres.count.zero? %></td>
        <td class="show-title">Explicit Lyrics</td>
        <td><%= check_box("album",
                          "explicit_lyrics",
                          disabled: true) %>
          <strong>Compilation</strong> <%= check_box("album",
                                                     "compilation",
                                                     disabled: true) %>
        </td>
      </tr>
      <tr>
        <td class="show-title">Synopsis</td>
        <td colspan="3"><%= @album.synopsis %></td>
      </tr>
    </table>

    <div class="nav-tab">
      <%= link_to "Tracks",
                  remote: true,
                  url: {action: "show_tracks",
                  id: @album.id} %>
    </div>
    <div id="tab-area">
      <table id="tracks" width="80%">
        <tr>
          <td width="10%" colspan="2"><strong>Track Num</strong></td>
          <td width="45%"><strong>Track Title</strong></td>
          <td width="20%"><strong>Artist</strong></td>
          <td width="10%"><strong>min:sec</strong></td>
        </tr>
      </table>
      <table id="tracks" width="80%">
        <tbody id="tracklist">
        <%= render partial: 'track_view',
                   collection: @tracks %>
        </tbody>
      </table>
    </div>


  </center>
</div>
