<%= form_tag html: {id: 'right_form'},
                   url: {action: "create"},
            remote: true do %>
    <table>
      <tr>
        <td>Name</td>
        <td><%= text_field_tag 'right[name]' %></td>
        <td>Controller</td>
        <td><%= text_field_tag 'right[controller]' %></td>
        <td>Action</td>
        <td><%= text_field_tag 'right[action]' %></td>
        <td><%= submit_tag "Add Right" %></td>
      </tr>
    </table>
<% end %>