<tr id="right-row-<%= right.id %>">
  <td><%= right.id %></td>
  <td><%= right.name %></td>
  <td><%= right.controller %></td>
  <td><%= right.action %></td>
  <td><%= link_to 'Edit',
                  edit_right_path(right) %></td>
  <td>
    <%= link_to 'Delete',
                {action: "destroy",
                 id: right.id},
                confirm: 'Are you sure?',
                method: :delete %>

  </td>
</tr>