<%= render partial: 'header' %>
<div id="content">
  <center>
    <% search_form_for @search do |rights| %>
        <fieldset>
          <legend>Search Rights</legend>

          <table>
            <tr>
              <td>Name</td>
              <td>
                <%= rights.text_field :name_cont %>
              </td>
              <td>Controller</td>
              <td>
                <%= rights.text_field :controller_cont %>
              </td>
              <td>Action</td>
              <td>
                <%= rights.text_field :action_cont %>
              </td>
              <td>
                <%= rights.submit "Search" %>
              </td>
            </tr>
          </table>

        </fieldset>
    <% end %>

    <%= render partial: 'form' %>

    <% if @rights_count > 0 %>
        <div>
          <%= @rights_count %> entries found
        </div>
        <table border="0" cellpadding="10" cellspacing="0" width="80%" class="list" id="rights">
          <tr id="rights-header">
            <th><%= sort_link @search,
                              :id,
                              'ID' %></th>
            <th><%= sort_link @search,
                              :name,
                              'Name' %></th>
            <th><%= sort_link @search,
                              :controller,
                              'Controller' %></th>
            <th><%= sort_link @search,
                              :action,
                              'Action' %></th>
            <th colspan="2">&nbsp;</th>
          </tr>
          <%= render partial: 'right',
                     collection: @rights %>
        </table>
        <br/>
        <br/>
        <%= will_paginate @rights %>
    <% else %>
        No entries were returned
    <% end %>
  </center>
</div>