<%= render partial: 'header' %>
<div id="content">
  <center>
    <h1>Edit Role</h1>

    <%= form_for(@role) do |f| %>
        <%= error_messages_for(f.object) %>

        <p>
          <%= f.label :name %><br/>
          <%= f.text_field :name %>
        </p>

        <input type="checkbox" id="selectAll" value="selectAll"> Select / Deselect All<br/><br/>
        <% for right in Right.all %>
            <div>
              <%= check_box_tag "role[right_ids][]",
                                right.id,
                                @role.rights.include?(right) %>
              <%= right.name %>
            </div>
        <% end %>

        <p>
          <%= f.submit "Update" %>
        </p>
    <% end %>

    <%= link_to 'Back',
                roles_path %>

  </center>
  <br/><br/>
</div>

<script>

    var $ = jQuery;

    $(document).ready(function () {

        $('#selectAll').click(function () {
            if (this.checked) {
                $(':checkbox').each(function () {
                    this.checked = true;
                });
            } else {
                $(':checkbox').each(function () {
                    this.checked = false;
                });
            }
        });

    });

</script>