<%= render partial: 'header' %>
<div id="content">
  <%= search_form_for @search, url: roles_path do |f| %>
      <%= f.text_field :name_cont %>
      <%= f.submit "Search" %>
  <% end %>

  <% if @roles_count > 0 %>
      <div id="admin-actions"><%= @roles_count %> entries found</div>
      <table border="0" cellpadding="10" cellspacing="0" width="80%" class="list">
        <tr>
          <th><%= sort_link @search, :id, 'ID' %></th>
          <th><%= sort_link @search, :name, 'Name' %></th>
          <th colspan="2">&nbsp;</th>
        </tr>
        <%= render partial: 'role',
                   collection: @roles %>
      </table>
      <br />
      <br />
      <%=  will_paginate @roles %>
  <% else %>
      No entries were returned
  <% end %>
</div>