<div id="header">
<div class="title">Settings</div>
<div id="nav">
<ul>
<li><%= link_to "Dashboard", :controller => "dashboard" %></li>
<li id="curr-nav"><%= link_to "Airlines", airlines_path %></li>
<li><%= link_to "Programs", programs_path %></li>
<li><%= link_to "Song Genres", genres_path  %></li>
<li><%= link_to "Record Labels", labels_path  %></li>
<li><%= link_to "Publisher", publishers_path %></li>
<li><%= link_to "Language", languages_path %></li>
<li><%= link_to "Origin", origins_path %></li>
<li><%= link_to "Category", categories_path %></li>
<li><%= link_to "Vo", vos_path %></li>
<li><%= link_to "Splits", splits_path %></li>
<li><%= link_to "VO Duration", vo_durations_path %></li>

</ul>
<div id="clear"><br/></div>
</div>
</div>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
<div id="content-header-actions">

</div>
<div id="content-header">
Airlines
</div>
</div>