<%= render partial: 'header' %>
<div id="content">
  <center>
    <h1>New airline</h1>

    <%= form_for(@airline) do |f| %>
        <%= error_messages_for(f.object) %>

        <p>
          <%= f.label :name %><br/>
          <%= f.text_field :name %>
        </p>

        <p>
          <%= f.label :code %><br/>
          <%= f.text_field :code %>
        </p>

        <p>
          <%= f.submit "Create" %>
        </p>
    <% end %>

    <%= link_to 'Back',
                airlines_path %>

  </center>
  <br/><br/>
</div>