<%= render partial: 'header' %>
<div id="content">
  <center>
    <%= render partial: 'form' %>
    <br/>
    <table border="0" cellpadding="10" cellspacing="0" width="100%" id="master_playlist_types">
      <tr>
        <td class="list-header">ID</td>
        <td class="list-header">Name</td>
        <td colspan="2" class="list-header">&nbsp;</td>
      </tr>
      <%= render partial: 'master_playlist_type',
                 collection: @master_playlist_types %>
    </table>
    <br/>
    <br/>
    <%= will_paginate @master_playlist_types %>
    <%
      def items_per_page_select(collection = MasterPlaylistTypes)
        select_tag :per_page, options_for_select([10, 20, 50, 100], collection.per_page)
      end
    %>
    <%= form_for '/master_playlist_types', method: :get, html: { class: 'items_per_page_select' } do |f| %>
      <span>Items per page: </span>
      <%= items_per_page_select @master_playlist_types %>
      <%= f.submit "Submit" %>
    <% end %>
  </center>
</div>