<%= render :partial => 'header' %>
<div id="content">
<center>
<h1>New Master Playlist Type</h1>

<% form_for(@master_playlist_type) do |f| %>
  <%= error_messages_for(f.object) %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', master_playlist_types_path %>

</center>
<br/><br/>
</div>