<fieldset>
  <legend>Search Suppliers</legend>

  <%= search_form_for @search,
                      loading: "Element.show('spinner')",
                      complete: "Element.hide('spinner')" do |suppliers| %>


      <%= image_tag 'spinner.gif', id: 'spinner', style: 'display:none;' %>
      <br/>

      <table>
        <tr>
          <td valign="top">
            Company Name:<br/>
            <%= suppliers.text_field :company_name_cont %>
            <br/>
          </td>
          <td valign="top">
            Categories:<br/>

            <%= suppliers.select :supplier_categories_id_eq, SupplierCategory.all
            .collect { |p| [p.name, p.id] },
                                 {include_blank: true} %>

          </td>
        </tr>
      </table>

      <%= suppliers.submit "Search" %>

  <% end %>


</fieldset>