<% if @suppliers_count > 0 %>

    <%= @suppliers_count %> suppliers found<br/>

    <table border="0" cellpadding="10" cellspacing="0" width="100%">
      <tr>
        <td class="list-header">
          <%= sort_link(@search,
                        :id,
                        "ID") %>
        </td>
        <td class="list-header">
          <%= sort_link(@search,
                        :company_name,
                        "Company Name") %>
        </td>
        <td class="list-header">Categories</td>
        <td colspan="2" class="list-header">&nbsp;</td>
      </tr>
      <%= render partial: 'supplier',
                 collection: @suppliers %>
    </table>

    <br/>
    <br/>
    <%= will_paginate @suppliers %>
    <%
      def items_per_page_select(collection = Suppliers)
        select_tag :per_page, options_for_select([10, 20, 50, 100], collection.per_page)
      end
    %>
    <%= form_for '/suppliers', method: :get, html: { class: 'items_per_page_select' } do |f| %>
      <span>Items per page: </span>
      <%= items_per_page_select @suppliers %>
      <%= f.submit "Submit" %>
    <% end %>

<% else %>

    No suppliers were found

<% end %>