  <tr id="vo-row-<%=h vo.id %>">
    <td class="list-item"><%=h vo.id %></td>
    <td class="list-item"><%=h vo.name %></td>
    <td class="list-item"><%= link_to 'Edit', edit_vo_path(vo) %></td>
    <td class="list-item"><%= link_to 'Delete', vo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>