<%= render :partial => 'header' %>
<div id="content">
<center>
<h1>New VO</h1>

<% form_for(@vo) do |f| %>
  <%= error_messages_for(f.object) %>

  <p>
    Publisher<br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', vos_path %>

</center>
<br/><br/>
</div>