<% @video = playlist_item_view.video %>
<% @video_playlist_item = playlist_item_view %>
<tr id="item_<%= playlist_item_view.id %>">
  <% if playlist_item_view.video.nil? %>
      <td colspan="2">Missing video <%= playlist_item_view.video_id %></td>

  <% else %>

    <table width="100%" class="playlist">
      <tr>
        <td width="150"><strong>Programme Title:</strong></td>
        <td><%= link_to playlist_item_view.video.programme_title,
                        edit_video_path(playlist_item_view.video),
                        target: "_blank" %> <%= playlist_item_view.video.on_going_series ? "(On-Going)" : "" %></td>
        <td rowspan="5" width="160"><%= image_tag(playlist_item_view.video.poster.url(:small)) %></td>
      </tr>
      <tr>
        <td><strong>Distributor:</strong></td>
        <td><%= playlist_item_view.video.video_distributor.company_name if !playlist_item_view.video.video_distributor.nil? %></td>
      </tr>
      <tr>
        <td><strong>Full Genre:</strong></td>
        <td><%= playlist_item_view.video.video_genres_string_with_parent %></td>
      </tr>
      <tr>
        <td><strong>Commercial Runtime:</strong></td>
        <td><%= playlist_item_view.video.commercial_run_time.minutes if !playlist_item_view.video.commercial_run_time.nil? %>
          min
        </td>
      </tr>
      <tr>
        <td><strong>Lang Tracks:</strong></td>
        <td><%= playlist_item_view.video.language_tracks.join(',
') if !playlist_item_view.video.language_tracks.nil? %></td>
      </tr>
      <tr>
        <td><strong>Lang Subtitles:</strong></td>
        <td><%= playlist_item_view.video.language_subtitles.join(',
') if !playlist_item_view.video.language_subtitles.nil? %></td>
      </tr>
      <tr>
        <td colspan="3"><strong>Synopsis:</strong><br/><%= playlist_item_view.video.synopsis %></td>
      </tr>
    </table>
    <br/><br/>
  <% end %>
</tr>