<% if @video_playlists_count > 0 %>
    <%= @video_playlists_count %> video playlists found

    <table cellspacing="0" width="100%">
      <tr>
        <th>
          <%= sort_link @search, :id, 'ID' %>
        </th>
        <th>
          <%= sort_link @search, :airline_name, 'Airline' %>
        </th>
        <th>
          <%= sort_link @search, :start_cycle, 'Start Date' %>
        </th>
        <th>
          <%= sort_link @search, :id, 'End Date' %>
        </th>
        <th>
          <%= sort_link @search, :video_playlist_type_name, 'Video Playlist Type' %>
        <th colspan="4"></th>
      </tr>

      <% @video_playlists.each do |video_playlist| %>
          <tr id="video_playlist-<%= video_playlist.id %>">
            <% cache([video_playlist]) do %>
                <td><%= link_to video_playlist.id,
                                video_playlist_path(id: video_playlist.id),
                                popup: true %></td>
                <td><%= video_playlist.airline.name if !video_playlist.airline_id.nil? %></td>
                <td><%= video_playlist.start_cycle.strftime("%m-%Y") if !video_playlist.start_cycle.nil? %>&nbsp;</td>
                <td><%= video_playlist.end_cycle.strftime("%m-%Y") if !video_playlist.end_cycle.nil? %>&nbsp;</td>
                <td><%= video_playlist.video_playlist_type.name if !video_playlist.video_playlist_type.nil? %>&nbsp;</td>
            <% end %>
            <td><%= link_to('Edit',
                            edit_video_playlist_path(video_playlist),
                            popup: true) if video_playlist.locked!=true %></td>
            <% if permitted_to? :delete,
                                :video_playlists %>
                <td><%= link_to 'Delete',
                                remote: true,
                                url: video_playlist_url(video_playlist),
                                method: :delete,
                                confirm: 'Are you sure?',
                                loading: "Element.show('spinner')",
                                complete: "Element.hide('spinner')" if video_playlist.locked!=true %></td>
                <td><%= link_to 'Duplicate',
                                duplicate_video_playlist_path(video_playlist),
                                confirm: 'Are you sure?',
                                method: :post %></td>
            <% end %>
            <td>
              <% if permitted_to? :lock,
                                  :videos_playlist %>
                  <% if video_playlist.locked!=true %>
                      <%= link_to 'Lock',
                                  lock_video_playlist_path(video_playlist),
                                  method: :post %>
                  <% else %>
                      <%= link_to 'Unlock',
                                  unlock_video_playlist_path(video_playlist),
                                  method: :post %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>

    <%=  will_paginate @video_playlists %>
<% else %>
    No playlists were found
<% end %>