<%# cache 'video_search_form' do %>
<fieldset>
  <legend>Search Videos</legend>
  <%= search_form_for @search,
                     url: add_video_to_playlist_path(id: @video_playlist.id),
                     remote: true,
                     id: "video_search_form",
                     class: 'spinner-trigger' do |videos| %>
      <br/>
      <%= image_tag 'spinner.gif',
                    id: 'spinner',
                    class: 'transparent' %>
      <table>
        <tr>
          <td valign="top">
            Video Title:<br/>
            <%= videos.text_field :programme_title_cont %>
            <br/>
            Distributor:<br/>
            <%= videos.select :video_distributor_id_eq,
                              Supplier.video_distributors.collect { |p| [p.company_name,
                                                                         p.id] },
                              include_blank: true %>
            <br/>
          </td>
          <td valign="top">
            Laboratory:<br/>
            <%= videos.select :laboratory_id_eq,
                              Supplier.laboratories.collect { |p| [p.company_name,
                                                                   p.id] },
                              include_blank: true %>
            <br/>
            Production Year:<br/>
            <%= videos.text_field :production_year_eq,
                                  size: 6 %>
          </td>
          <td valign="top">
            Available Lang Track:<br/>
            <%= select :language,
                       :track,
                       @languages,
                       {include_blank: true} %>
            <br/>
            Available Lang Subtitles:<br/>
            <%= select :language,
                       :subtitle,
                       @languages,
                       {include_blank: true} %>
          </td>
          <td valign="top">
            Genre:<br/>
            <%= videos.select :video_genres_video_parent_genre_id_eq,
                              VideoParentGenre.all
                              .collect { |p| [p.name,
                                              p.id] },
                              {include_blank: true} %>
            <br/>
            Sub Genre:<br/>
            <%= videos.select :video_genres_id_eq,
                              VideoGenre.all
                              .collect { |p| [p.name,
                                              p.id] },
                              {include_blank: true} %>
         </td>
          <td valign="top">
            Video type:<br/>
            <%= videos.select :video_type_eq,
                              Video::VIDEO_TYPES,
                              {include_blank: true} %> <br/>
          </td>
        </tr>
      </table>
      <%= videos.submit "Search" %>
  <% end %>

</fieldset>
<%# end %>
