<% content_for(:head) do %>
    <meta name="pdfkit-orientation" content="Landscape"/>
    <script>
        jQuery(document).ready(function () {
            jQuery('#print_playlist').click(function (event) {
                if (!confirm("ALERT! Please change your page layout to LANDSCAPE when printing")) {
                    event.preventDefault();
                }
            });
        });
    </script>
<% end %>

<%= render partial: 'layouts/videoplaylist_header' %>
<center>
  <p style="color: green">
    <%= flash[:notice] %>
  </p>
</center>

<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Print Playlist",
                {controller: "video_playlists",
                 action: "show",
                 id: @video_playlist},
                id: 'print_playlist',
                target: '_blank' %> |
    <%= link_to "Download Full PDF",
                {controller: "video_playlists",
                 action: "print",
                 id: @video_playlist,
                 format: "pdf"} %> |
    <%#= link_to "Download Summary PDF",
{controller: "video_playlists",
action: "edit",
 id: @video_playlist,
format: "pdf"}%>
    <%= link_to "Export as Excel",
                controller: "video_playlists",
                action: "export_to_excel",
                id: @video_playlist %> |
    <%= link_to "Create a playlist",
                new_video_playlist_path %>
  </div>
  <div id="content-header">Video Playlists</div>
</div>

<div id="content">
  <center>
    <h2>Edit Video Playlist</h2>

    <%= link_to "Add Video", add_video_to_playlist_path(id: @video_playlist.id), id: "add_video_to_playlist" %>
    <br/>
    <br/>

    <%= render 'form' %>

    <div id="playlist">
      <%= render partial: 'playlist',
                 object: @video_playlist %>
    </div>

    <%= link_to 'Back',
                video_playlists_path %>

  </center>

  <div id="add_video_dialog" style="display:none;">
    <div id="add_video">
    </div>
  </div>

</div>

<script type="text/javascript">
    var $ = jQuery;

    $(function () {
        $(document).on("click", "#add_video_to_playlist", function (video) {
            video.preventDefault();
            $('#add_video_dialog').dialog({
                title: 'Add Video',
                modal: true,
                width: 1200,
                height: 540,
                position: ['center', 100],
                close: function (video, ui) {
                    $('#add_video_dialog').dialog('destroy')
                }
            });
            $.ajax({ url: '/add_video_to_playlist/<%= @video_playlist.id %>',
                type: 'get',
                dataType: 'script'
            });
        });
    });
</script>
