<%= render :partial => 'layouts/videoplaylist_header' %>
<center><p style="color: green" id="notice"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
	<div id="content-header-actions">
	<%= link_to "Create a playlist", new_video_playlist_path %>
</div>
<div id="content-header">Videos</div>
</div>
<div id="content">
<% remote_form_for @search,	:loading => "Element.show('spinner')", :complete => "Element.hide('spinner')" do |f| %>
<%= render :partial => 'search_form', :locals => { :f => f } %>
<% end %>  
<div id="video_playlists">
	<%= render :partial => "video_playlists" %>
</div>
</div>