<script>
    jQuery(document).ready(function () {
        window.print();
    });
</script>
<%= render partial: 'layouts/videoplaylist_header' %>
<center><p style="color: green"><%= flash[:notice] %></p></center>
<div id="content-header-wrapper">
  <div id="content-header-actions">
    <%= link_to "Edit Playlist",
                {controller: "video_playlists",
                 action: "edit",
                 id: @video_playlist},
                target: "_blank" %> |
    <%= link_to "Print Playlist",
                {controller: "video_playlists",
                 action: "print",
                 id: @video_playlist},
                :popup => true %>
    |
    <%= link_to "Export as Excel",
                controller: "video_playlists",
                action: "export_to_excel",
                id: @video_playlist %>
  </div>
  <div id="content-header">Video Playlists</div>
</div>

<div id="content">
  <center>
    <h2>Video Playlist</h2>
    <%= "Video Playlist Type: #{@video_playlist.video_playlist_type.name} " if !@video_playlist.video_playlist_type.nil? %>

    <table width="900">
      <%= render partial: 'playlist_item_view',
                 collection: @video_playlist.video_playlist_items_sorted %>
    </table>

    <%= link_to 'Back',
                video_playlists_path %>

  </center>
</div>